<template>
   <v-container fluid grid-list-sm>
    <v-layout row wrap>
      <v-flex v-for="flag in itemsButtonFlag" :key="flag.IdMenu"> 
        <v-card>
            <v-toolbar color="cabecera" style="color: #1976D2;">
                  <v-toolbar-title style="color: #1976D2;" class="text-xs-center">Clientes</v-toolbar-title>
                    <v-spacer></v-spacer>
                  <v-btn :disabled="!flag.FlagAdicion" fab color="btnform" flat large style="color: #1976D2;" @click.native="dialogNew = true"  @click = "cargarcombos()">
                    <v-icon>person_add</v-icon>  
                  </v-btn>
            </v-toolbar> 
            <v-card-text> 
                <v-flex xs12 sm6 md3>
                  <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Buscar"
                  single-line
                  hide-details
                  ></v-text-field>
                </v-flex>
            </v-card-text>

            <v-flex 
            v-for="(item,index) in clienteResults"
            :key="item.IdCliente">
                   <v-layout row wrap>
                      <v-flex xs12 sm6 md1 order-md1 order-sm1>
                        <v-card tile >
                            <v-card-text><img width="50px" :src="item.Foto"> </v-card-text>       
                        </v-card>
                      </v-flex>
                      <v-flex  sm6 md3 order-md2 order-sm2>
                        <v-card tile >
                            <v-card-text>{{ item.ApeNom }}</v-card-text>
                            <v-card-text style="color: #757575;">{{ item.TipoCliente }}</v-card-text>
                        </v-card>
                      </v-flex>
                      <v-flex  sm6 md2-2 order-md3 order-sm3>
                        <v-card tile >
                            <v-card-text><v-icon>cake</v-icon>{{ item.FechaNacimiento }}</v-card-text>
                            <v-card-text><v-icon>assignment_ind</v-icon>{{ item.NumeroDocumento }}</v-card-text>
                        </v-card>
                      </v-flex>
                      <v-flex  sm6 md2 order-md4 order-sm4>
                        <v-card tile >
                            <v-card-text><v-icon>local_phone</v-icon>{{ item.Telefono }}</v-card-text>
                            <v-card-text><v-icon>local_phone</v-icon>{{ item.Celular }}</v-card-text>
                        </v-card>
                      </v-flex>
                      <v-flex  sm6 md3 order-md5 order-sm5>
                        <v-card tile >
                            <v-card-text><v-icon>mail</v-icon>{{ item.Email }}</v-card-text> 
                        </v-card>
                      </v-flex>
                      <v-flex xs12 sm3 md2 order-md6 order-sm2>
                        <v-card tile > 
                             <v-card-text class="px-0">
                                <v-layout row>
                                        <v-flex xs4 order-md2 order-xs1>
                                          <v-card tile flat>
                                            <v-card-text class="px-0">
                                              <v-btn flat icon small :class="'cyan darken-2 white--text'" @click = "view(index)" @click.native="dialogView = true">
                                                <v-icon>visibility</v-icon>
                                              </v-btn>
                                            </v-card-text>
                                          </v-card>
                                        </v-flex>
                                        <v-flex xs4  order-md2 order-xs1>
                                          <v-card  tile flat>
                                           <v-card-text class="px-0">
                                             <v-btn flat icon small :class="'yellow darken-2 white--text'"  :disabled="!flag.FlagActualizacion" @click.native = "edit(index)" @click = "cargarcombos()">
                                              <v-icon>edit</v-icon>
                                            </v-btn>
                                            </v-card-text>
                                          </v-card>
                                        </v-flex>
                                        <v-flex xs4  order-md2 order-xs1>
                                          <v-card tile flat>
                                            <v-card-text class="px-0">
                                              <v-btn flat icon small :class="'red darken-2 white--text'" :disabled="!flag.FlagEliminacion" @click = "deleteT(item.IdTrabajador)">
                                                <v-icon>delete</v-icon>
                                              </v-btn>
                                            </v-card-text>
                                          </v-card>
                                        </v-flex>
                                      </v-layout>
                             </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                     <v-divider v-if="index + 1 < items.length" :key="`divider-${index}`"></v-divider>
              </v-flex>
          
                <v-dialog v-model="dialogView" persistent max-width="450px" >
                 <div class="text-xs-center">
                    <v-card>
                        <v-card-title
                          style="color: #f9826e;"
                          class="headline white darken-2"
                          primary-title
                        >
                        <v-icon style="color: #f9826e;">assignment</v-icon>
                          Detalle Cliente
                        </v-card-title>

                         <v-card-actions>
                           <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "EstadoCivil"
                              label="Estado Civil"
                              disabled
                            ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "Nacionalidad"
                              label="Nacionalidad"
                              disabled
                            ></v-text-field>
                            </v-flex>
                        </v-card-actions>

                         <v-card-actions>
                           <v-flex xs12>
                            <v-text-field
                              v-model = "Direccion"
                              label="Dirección"
                              disabled
                            ></v-text-field>
                            </v-flex>
                        </v-card-actions>
                         <v-card-actions>
                          <v-flex xs12>
                            <v-text-field
                              v-model = "Referencia"
                              label="Referencia"
                              disabled
                            ></v-text-field>
                          </v-flex>
                        </v-card-actions>
                        <v-card-actions>
                           <v-flex xs12>
                            <v-text-field
                              v-model = "UbigeoNacimiento"
                              label="Ubigeo Nacimiento"
                              disabled
                            ></v-text-field>
                            </v-flex>

                            <v-flex xs12>
                            <v-text-field
                              v-model = "UbigeoDomicilio"
                              label="Ubigeo Domicilio"
                              disabled
                            ></v-text-field>
                            </v-flex>
                        </v-card-actions>

                        <v-card-actions>
                           <v-flex xs12>
                            <v-text-field
                              v-model = "DescCliente"
                              label="Descripción"
                              disabled
                            ></v-text-field>
                            </v-flex>
                        </v-card-actions>
                    
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" flat @click.native="dialogView = false">Salir</v-btn>
                    </v-card-actions>

                    </v-card>
                </div>
            </v-dialog> 

             <v-dialog v-model="dialogNew" persistent max-width="850px">
                  <v-form ref="form" v-model="valid" @submit.prevent lazy-validation>
                    <v-card>
                         <v-card-title
                         style="color: #f9826e;"
                          class="headline white darken-2"
                          primary-title
                        >
                        <v-icon style="color: #f9826e;">person_add</v-icon>
                          Nuevo Cliente
                        </v-card-title>

                         <v-card-actions>
                           <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "Nombres"
                              label="Nombres" 
                              required   
                            ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "ApePaterno"
                              label="Apellido Paterno"
                              required
                            ></v-text-field>
                            </v-flex>

                             <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "ApeMaterno"
                              label="Apellido Materno"
                              required
                            ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-select
                            :items="itemsSexo"
                            v-model="selectSexo"
                            item = "IdSexo"
                            item-text="DescSexo"
                            label="Sexo"
                            autocomplete
                            required
                            ></v-select>
                            </v-flex>  

                            <v-flex xs12 sm6>
                            <v-select
                            :items="itemsNacionalidad"
                            v-model="selectNacionalidad"
                            item = "IdNacionalidad"
                            item-text="DescNacionalidad"
                            label="Nacionalidad"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex> 

                        </v-card-actions>

                          <v-card-actions>
                          
                          <v-flex xs12 sm6>
                            <v-select
                            :items="itemsTipoDocumento"
                            v-model="selectTipoDocumento"
                            item = "IdTipoDocumento"
                            item-text="DescTipoDocumento"
                            label="Tipo Documento"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>  

                           <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "NumeroDocumento"
                              label="N° Documento"
                            ></v-text-field>
                            </v-flex>   

                             <v-flex xs12 lg6>
                              <v-menu
                                :close-on-content-click="false"
                                v-model="menu2"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                max-width="290px"
                                min-width="290px"
                              >
                                <v-text-field
                                  slot="activator"
                                  v-model="computedDateFormatted"
                                  label="Fecha Nacimiento"
                                  persistent-hint
                                  prepend-icon="event"
                                  readonly
                                ></v-text-field>
                                <v-date-picker v-model="date" no-title @input="menu2 = false"></v-date-picker>
                              </v-menu>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-select
                            :items="itemsEstadoCivil"
                            v-model="selectEstadoCivil"
                            item = "IdEstadoCivil"
                            item-text="DescEstadoCivil"
                            label="Estado Civil"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>

                           <v-flex xs12 sm6>
                            <v-select
                            :items="itemsTipoCliente"
                            v-model="selectTipoCliente"
                            item = "IdTipoCliente"
                            item-text="TipoCliente"
                            label="Tipo Cliente"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>  

                        </v-card-actions>

                         <v-card-actions>
                          <v-flex xs12 sm6>
                            <v-select
                            :items="itemsUbigeoNacimiento"
                            v-model="selectUbigeoNacimiento"
                            item = "IdUbigeoNacimiento"
                            item-text="DescUbigeoNacimiento"
                            label="Lugar Nacimiento"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>  

                           <v-flex xs12 sm6>
                            <v-select
                            :items="itemsCategoriaCli"
                            v-model="selectCategoriaCli"
                            item = "IdCategoriaCli"
                            item-text="DescCategoriaCli"
                            label="Categoría"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>  

                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "Telefono"
                              label="Telefono"    
                            ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "Celular"
                              label="Celular"
                            ></v-text-field>
                            </v-flex>


                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model="Email"
                              :rules="emailRules"                                
                              label="Email"
                            ></v-text-field>
                            </v-flex> 
                          

                        </v-card-actions>

                        <v-card-actions>
                        
                          <v-flex xs12 sm6>
                            <v-select
                            :items="itemsUbigeoDomicilio"
                            v-model="selectUbigeoDomicilio"
                            item = "IdUbigeoDomicilio"
                            item-text="DescUbigeoDomicilio"
                            label="Lugar Domicilio"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex> 

                           <v-flex xs12>
                            <v-text-field
                              v-model = "Direccion"
                              label="Dirección" 
                              required   
                            ></v-text-field>
                            </v-flex>

                             <v-flex xs12>
                            <v-text-field
                              v-model = "Referencia"
                              label="Referencia" 
                              required   
                            ></v-text-field>
                            </v-flex> 

                        </v-card-actions>

                        <v-card-actions>
                             <v-flex xs12>
                            <v-text-field
                              v-model = "DescCliente"
                              label="Descripción" 
                              required   
                            ></v-text-field>
                            </v-flex>  

                            <v-flex xs12>
                              <v-text-field
                                v-model = "InfoAdicional"
                                label="Información Adicional"    
                              ></v-text-field>
                            </v-flex>

                        </v-card-actions>

                        <v-card-actions>
                            <v-flex xs12>
                                 <v-checkbox :label="`Confidencial`" v-model="FlagConfidencial"></v-checkbox>
                            </v-flex>
                            <v-flex xs12>
                                <v-checkbox :label="`Correspondencia`" v-model="FlagCorrespondencia"></v-checkbox>
                            </v-flex>

                        </v-card-actions>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="red darken-1" flat @click.native="dialogNew = false">Salir</v-btn>
                          <v-btn color="green darken-1" flat :disabled="!valid"  @click = "submit()">Guardar</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
              </v-dialog>

             <v-dialog v-model="dialogEdit"  persistent max-width="800px">
               <v-form ref="form" v-model="valid" lazy-validation>
                    <v-card>
                         <v-card-title
                          style="color: #f9826e;"
                          class="headline white darken-2"
                          primary-title
                        >
                        <v-icon style="color: #f9826e;">edit</v-icon>
                          Editar Cliente - {{ ApeNom }}
                        </v-card-title>

                        <v-card-actions>
                           <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "Nombres"
                              label="Nombres" 
                              required   
                            ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "ApePaterno"
                              label="Apellido Paterno"
                              required
                            ></v-text-field>
                            </v-flex>

                             <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "ApeMaterno"
                              label="Apellido Materno"
                              required
                            ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-select
                            :items="itemsSexo"
                            v-model="IdSexo"
                            item-value = "IdSexo"
                            item-text="DescSexo"
                            label="Sexo"
                            autocomplete
                            required
                            ></v-select>
                            </v-flex>  

                            <v-flex xs12 sm6>
                            <v-select
                            :items="itemsNacionalidad"
                            v-model="IdNacionalidad"
                            item-value = "IdNacionalidad"
                            item-text="DescNacionalidad"
                            label="Nacionalidad"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex> 

                        </v-card-actions>

                          <v-card-actions>
                          
                          <v-flex xs12 sm6>
                            <v-select
                            :items="itemsTipoDocumento"
                            v-model="IdTipoDocumento"
                            item-value = "IdTipoDocumento"
                            item-text="DescTipoDocumento"
                            label="Tipo Documento"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>  

                           <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "NumeroDocumento"
                              label="N° Documento"
                            ></v-text-field>
                            </v-flex>   

                             <v-flex xs12 lg6>
                              <v-menu
                                :close-on-content-click="false"
                                v-model="menu3"
                                :nudge-right="40"
                                lazy
                                transition="scale-transition"
                                offset-y
                                full-width
                                max-width="290px"
                                min-width="290px"
                              >
                                <v-text-field
                                  slot="activator"
                                  v-model="computedFechaNacFormatted"
                                  label="Fecha Nacimiento"
                                  persistent-hint
                                  prepend-icon="event"
                                  readonly
                                ></v-text-field>
                                <v-date-picker v-model="FechaEdit" no-title @input="menu3 = false"></v-date-picker>
                              </v-menu>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-select
                            :items="itemsEstadoCivil"
                            v-model="IdEstadoCivil"
                            item-value = "IdEstadoCivil"
                            item-text="DescEstadoCivil"
                            label="Estado Civil"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>

                           <v-flex xs12 sm6>
                            <v-select
                            :items="itemsTipoCliente"
                            v-model="IdTipoCliente"
                            item-value = "IdTipoCliente"
                            item-text="TipoCliente"
                            label="Tipo Cliente"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>  

                        </v-card-actions>

                         <v-card-actions>
                          <v-flex xs12 sm6>
                            <v-select
                            :items="itemsUbigeoNacimiento"
                            v-model="IdUbigeoNacimiento"
                            item-value = "IdUbigeoNacimiento"
                            item-text="DescUbigeoNacimiento"
                            label="Lugar Nacimiento"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>  

                           <v-flex xs12 sm6>
                            <v-select
                            :items="itemsCategoriaCli"
                            v-model="IdCategoriaCli"
                            item-value = "IdCategoriaCli"
                            item-text="DescCategoriaCli"
                            label="Categoría"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex>  

                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "Telefono"
                              label="Telefono"    
                            ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model = "Celular"
                              label="Celular"
                            ></v-text-field>
                            </v-flex>


                            <v-flex xs12 sm6>
                            <v-text-field
                              v-model="Email"
                              :rules="emailRules"                                
                              label="Email"
                            ></v-text-field>
                            </v-flex> 
                          

                        </v-card-actions>

                        <v-card-actions>
                        
                          <v-flex xs12 sm6>
                            <v-select
                            :items="itemsUbigeoDomicilio"
                            v-model="IdUbigeoDomicilio"
                            item-value = "IdUbigeoDomicilio"
                            item-text="DescUbigeoDomicilio"
                            label="Lugar Domicilio"
                            autocomplete
                            required
                          ></v-select>
                          </v-flex> 

                           <v-flex xs12>
                            <v-text-field
                              v-model = "Direccion"
                              label="Dirección" 
                              required   
                            ></v-text-field>
                            </v-flex>

                             <v-flex xs12>
                            <v-text-field
                              v-model = "Referencia"
                              label="Referencia" 
                              required   
                            ></v-text-field>
                            </v-flex> 

                        </v-card-actions>

                        <v-card-actions>
                             <v-flex xs12>
                            <v-text-field
                              v-model = "DescCliente"
                              label="Descripción" 
                              required   
                            ></v-text-field>
                            </v-flex>  

                            <v-flex xs12>
                              <v-text-field
                                v-model = "InfoAdicional"
                                label="Información Adicional"    
                              ></v-text-field>
                            </v-flex>

                        </v-card-actions>

                        <v-card-actions>
                            <v-flex xs12>
                                 <v-checkbox :label="`Confidencial`" v-model="FlagConfidencial"></v-checkbox>
                            </v-flex>
                            <v-flex xs12>
                                <v-checkbox :label="`Correspondencia`" v-model="FlagCorrespondencia"></v-checkbox>
                            </v-flex>

                        </v-card-actions>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="red darken-1" flat @click.native="dialogEdit = false">Salir</v-btn>
                          <v-btn color="green darken-1" flat :disabled="!valid"  @click.prevent = "update()">Guardar</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
              </v-dialog>          
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import User from '@/models/User'
  import { mapGetters } from 'vuex'
  var session = require('@/store/getSession.js');
  export default {
    name: 'Cliente',
    create(){
      
    },

    mounted(){

        this.getPostsAccess();
        this.getPostsCliente();

    },
    computed: {

         ...mapGetters({ currentUser: 'currentUser' })  ,

        computedDateFormatted () {
          return this.formatDate(this.date);
        },

        computedFechaNacFormatted () {
          return this.formatDate(this.FechaEdit);
        },

        clienteResults() {
         /// Filter results
         return this.items .filter((item) => {
         return item.ApeNom.toLowerCase()
           .indexOf(this.search.toLowerCase()) > -1;
         });
      }
    },


    data () {
      return {
      valid: true,
      date: null,
      menu2: false,
      menu3: false,
      modal: false,
      search: '',

      dialogNew: false,
      dialogView: false,
      dialogEdit: false,
      checkmaster: false,
      
      //Crear - Update

      FechaEdit: '' ,
      IdCliente: '',
      IdAgencia: '',
      IdSexo: '',
      IdTipoCliente: '',
      TipoCliente: '',
      NumeroDocumento: '',
      IdTipoDocumento: '',
      ApeNom: '',
      Nombres: '',
      ApePaterno: '',
      ApeMaterno: '',
      Direccion: '',
      Referencia: '',
      InfoAdicional: '',
      IdCategoriaCli: '',
      FlagConfidencial: false,
      FlagCorrespondencia: false,
      IdEstadoCivil: '',
      FechaNacimiento: '',
      IdUbigeoNacimiento: '',
      IdUbigeoDomicilio: '',
      Telefono: '',
      Celular: '',
      Email: '',
      IdNacionalidad: '',
      DescCliente: '' ,

      emailRules: [
        v => !!v || 'E-mail es requerido',
        v => /.+@.+/.test(v) || 'E-mail no es válido'
      ],

     
      //Detalle
      EstadoCivil:'',
      UbigeoNacimiento:'',
      UbigeoDomicilio:'',
      Nacionalidad: '',

      items: [],
      itemsButtonFlag:[],

      //Combos
      selectSexo: null,
      itemsSexo: [],
      selectTipoCliente: null,
      itemsTipoCliente: [],
      selectEstadoCivil: null,
      itemsEstadoCivil: [],
      selectNacionalidad: null,
      itemsNacionalidad:[],
      selectTipoDocumento: null,
      itemsTipoDocumento: [],
      selectUbigeoNacimiento: null,
      itemsUbigeoNacimiento: [],
      selectUbigeoDomicilio: null,
      itemsUbigeoDomicilio: [],
      selectCategoriaCli: null,
      itemsCategoriaCli:[],
      ErrorMessage:'',
      SuccessMessage: ''
     
      }
    },

     

    methods:{
      clearEdit() {
          this.$refs.form.reset();
      },
     
      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      parseDate (date) {
        if (!date) return null

        const [day, month, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },

       getPostsAccess(){
        var Menu = "1007";

        this.$http.post('/acceso/getmenuaccess', 
        {   "UserLogin":this.currentUser.IdUsuario,
            "IdMenu": Menu
        })
        .then((resouesta)=>{
            this.itemsButtonFlag=resouesta.data;
        });
      },

      getPostsCliente(){
        this.$http.get('/cliente/getallclient?idagencia=' + this.currentUser.IdAgencia).then((resouesta)=>{
            this.items=resouesta.data;
        });
      },

      view: function(index){
      //alert(IdTrabajador);
          this.EstadoCivil = this.items[index].EstadoCivil;
          this.Nacionalidad = this.items[index].Nacionalidad;
          this.Direccion = this.items[index].Direccion;
          this.Referencia = this.items[index].Referencia;
          this.DescCliente= this.items[index].DescCliente;
          this.UbigeoNacimiento= this.items[index].UbigeoNacimiento;
          this.UbigeoDomicilio= this.items[index].UbigeoDomicilio;
      },
    
       cargarcombos(){
        //Sexo
          this.$http.get('/sexo/getlistcbosexo')
              .then((resouesta)=>{
                  this.itemsSexo=resouesta.data;
          });

        //TipoCliente
          this.$http.get('/cliente/getlistcbotipocliente')
              .then((resouesta)=>{
                  this.itemsTipoCliente=resouesta.data;
          });

          //estadocivil
          this.$http.get('/estadocivil/getlistcboestadocivil')
              .then((resouesta)=>{
                  this.itemsEstadoCivil=resouesta.data;
          });

          //tipodocumento
          this.$http.get('/tipodocumento/getlistcbotipodocumento')
              .then((resouesta)=>{
                  this.itemsTipoDocumento=resouesta.data;
          });

        
          //ubigeonacimiento
          this.$http.get('/ubigeo/getlistcboubigeonacimiento')
              .then((resouesta)=>{
                  this.itemsUbigeoNacimiento=resouesta.data;
          });

         //ubigeo
          this.$http.get('/ubigeo/getlistcboubigeodomicilio')
              .then((resouesta)=>{
                  this.itemsUbigeoDomicilio=resouesta.data;
          });


          this.$http.get('/nacionalidad/getlistcbonacionalidad')
              .then((resouesta)=>{
                  this.itemsNacionalidad=resouesta.data;
          });

           this.$http.get('/cliente/getlistcbocategoriacli')
              .then((resouesta)=>{
                  this.itemsCategoriaCli=resouesta.data;
          });
      },


      submit: function(){
      // if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
        this.ErrorMessage = 'No se puede crear el Cliente';
        this.SuccessMessage = 'Se ha creado correctamente el Cliente';

            this.$http.post('cliente/create',  
            { "UserLogin":this.currentUser.IdUsuario,
              "IdAgencia":this.currentUser.IdAgencia,
              "Nombres": this.Nombres,
              "ApePaterno":  this.ApePaterno,
              "ApeMaterno":  this.ApeMaterno,
              "IdSexo": this.selectSexo.IdSexo,
              "IdNacionalidad": this.selectNacionalidad.IdNacionalidad,
              "IdTipoDocumento": this.selectTipoDocumento.IdTipoDocumento,
              "NumeroDocumento": this.NumeroDocumento,
              "FechaNacimiento": this.date,
              "IdEstadoCivil": this.selectEstadoCivil.IdEstadoCivil,
              "IdTipoCliente": this.selectTipoCliente.IdTipoCliente,
              "IdUbigeoNacimiento": this.selectUbigeoNacimiento.IdUbigeoNacimiento,
              "IdCategoriaCli": this.selectCategoriaCli.IdCategoriaCli,
              "Telefono": this.Telefono,
              "Celular": this.Celular,
              "Email": this.Email,
              "IdUbigeoDomicilio": this.selectUbigeoDomicilio.IdUbigeoDomicilio,
              "Direccion": this.Direccion,
              "Referencia": this.Referencia,
              "DescCliente": this.DescCliente,
              "InfoAdicional": this.InfoAdicional,
              "FlagConfidencial": this.FlagConfidencial,
              "FlagCorrespondencia": this.FlagCorrespondencia
            }).then((request)=>{
              this.AxiosSuccessful(request);
              this.dialogNew = !this.dialogNew;
              
            //console.log(response);
            }).catch(() => this.AxiosFailed()); 
      //}
      },


      edit: function(index){
          //alert(this.parseDate(this.items[index].FechaNacimiento));
          this.dialogEdit = !this.dialogEdit;
          this.IdCliente = this.items[index].IdCliente;
          this.Nombres = this.items[index].Nombres;
          this.ApePaterno = this.items[index].ApePaterno;
          this.ApeMaterno = this.items[index].ApeMaterno;
          this.ApeNom = this.items[index].ApeNom;
          this.IdSexo = this.items[index].IdSexo;
          this.IdNacionalidad = this.items[index].IdNacionalidad;
          this.IdTipoDocumento = this.items[index].IdTipoDocumento;
          this.NumeroDocumento = this.items[index].NumeroDocumento;
          this.FechaEdit= this.parseDate(this.items[index].FechaNacimiento);
          this.IdEstadoCivil = this.items[index].IdEstadoCivil;
          this.IdTipoCliente = this.items[index].IdTipoCliente;
          this.IdUbigeoNacimiento = this.items[index].IdUbigeoNacimiento;
          this.IdUbigeoDomicilio = this.items[index].IdUbigeoDomicilio; 
          this.IdCategoriaCli =  this.items[index].IdCategoriaCli; 
          this.Telefono = this.items[index].Telefono;
          this.Celular = this.items[index].Celular;
          this.Email = this.items[index].Email;
          this.Direccion = this.items[index].Direccion;
          this.Referencia = this.items[index].Referencia;
          this.DescCliente = this.items[index].DescCliente;
          this.InfoAdicional = this.items[index].InfoAdicional;
          this.FlagConfidencial = this.items[index].FlagConfidencial;
          this.FlagCorrespondencia = this.items[index].FlagCorrespondencia; 
            // = this.parseDate(this.itemsEdit[0].FechaNac);
          //console.log(response);
          
      },

      update: function(){

        this.ErrorMessage = 'No se puede actualizar el Cliente';
        this.SuccessMessage = 'Se actualizado correctamente el Cliente';

        this.$http.post('cliente/update', 
            { "UserLogin":this.currentUser.IdUsuario,
              "IdCliente": this.IdCliente,
              "IdAgencia":this.currentUser.IdAgencia,
              "Nombres": this.Nombres,
              "ApePaterno":  this.ApePaterno,
              "ApeMaterno":  this.ApeMaterno,
              "IdSexo": this.IdSexo,
              "IdNacionalidad": this.IdNacionalidad,
              "IdTipoDocumento": this.IdTipoDocumento,
              "NumeroDocumento": this.NumeroDocumento,
              "FechaNacimiento": this.FechaEdit,
              "IdEstadoCivil": this.IdEstadoCivil,
              "IdTipoCliente": this.IdTipoCliente,
              "IdUbigeoNacimiento": this.IdUbigeoNacimiento,
              "IdCategoriaCli": this.IdCategoriaCli,
              "Telefono": this.Telefono,
              "Celular": this.Celular,
              "Email": this.Email,
              "IdUbigeoDomicilio": this.IdUbigeoDomicilio,
              "Direccion": this.Direccion,
              "Referencia": this.Referencia,
              "DescCliente": this.DescCliente,
              "InfoAdicional": this.InfoAdicional,
              "FlagConfidencial": this.FlagConfidencial,
              "FlagCorrespondencia": this.FlagCorrespondencia
           })
        .then((request)=>{
                this.AxiosSuccessful(request);
                this.dialogEdit = !this.dialogEdit; 

               // console.log(resouesta.data);
            })
        .catch(() => this.AxiosFailed()); 
          //this.clearEdit();
        },


      deleteC: function(IdCliente){
        this.ErrorMessage = 'No se puede eliminar el Cliente';
        this.SuccessMessage = 'Se ha eliminado correctamente el Cliente';

        this.$http.post('/cliente/delete',
        {
              "IdCliente": IdCliente,
              "UserLogin":this.currentUser.IdUsuario,  
              "IdAgencia":this.currentUser.IdAgencia      
        })
          .then((request)=>{
                this.AxiosSuccessful(request);
          })
          .catch(() => this.AxiosFailed());
      },

       AxiosSuccessful (req) {
        if (!req.data) {
          this.AxiosFailed();
          return
        } 
        else{
          this.AxiosSuccess();
            this.getPostsCliente();
          return
        }
      },

      AxiosFailed () {
        this.$iziToast.error({
          iconText: 'link_off',
          title: "Error",
          message: this.ErrorMessage,
          timeout: 3000,
          progressBar: true,
          layout: 1
        });
      },

      
      AxiosSuccess () {
      this.$iziToast.success({
          iconText: 'done',
          title: "OK",
          message: this.SuccessMessage,
          timeout: 3000,
          progressBar: true,
          layout: 1
        });
      }
   }
}
</script>