<template>
  <v-dialog
          v-model="currentCoti.cotisatus"
          fullscreen
          hide-overlay
          transition="dialog-bottom-transition"
          scrollable
        >
          <v-card tile>
            <v-toolbar card id="dialig__cotizar">
              <v-btn icon dark @click.native="closeDialog">
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title>
                <h5 style="font-size:.8em;">CTM-0000254</h5>
                <p style="font-size:.55em;">CTM Tours - Nacional - Claudia Perez</p>
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <!-- <v-btn dark flat @click.native="dialog = false">Save</v-btn> -->
              <!--   <v-chip color="green" text-color="white" style="height:2.44em;">
              <v-avatar class="green darken-4" right>
                <v-icon center>star</v-icon>
              </v-avatar>
              <span>CTM</span>
              
            </v-chip> -->
         <v-switch
                v-model="ex11"
                label="OTRO"
                color="green-grey"
                value="success"
                hide-details
                id="select___mayorista"
              ></v-switch>

              </v-toolbar-items>
              <v-menu bottom right offset-y>
                <v-btn slot="activator" icon id="conf__destinocot" >
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile v-for="(item, i) in items" :key="i">
                    <v-icon>settings</v-icon>
                    <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                  </v-list-tile>
                  <!-- <v-list-group
                      v-for="item in items"
                      v-model="item.active"
                      :key="item.title"
                      prepend-icon="settings"
                      no-action
                    >
                      <v-list-tile slot="activator">
                        <v-list-tile-content>
                          <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
          
                      <v-list-tile
                        v-for="subItem in item.items"
                        :key="subItem.title"
                        @click=""
                      >
                        <v-list-tile-content>
                          <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                        </v-list-tile-content>
          
                        <v-list-tile-action>
                          <v-icon>{{ subItem.action }}</v-icon>
                        </v-list-tile-action>
                      </v-list-tile>
                    </v-list-group> -->

                </v-list>
              </v-menu>
            </v-toolbar>
            <v-card-text id="conten__dialog_cotizar">
               <!-- <img src="../../../public/cotizar.png" alt="" style="width: 100%;">-->
                <v-flex xs12>
                    <v-select
                      v-model="select"
                      :items="items"
                      label="Servicios a cotizar"
                      multiple
                      chips
                      solo
                      class="coti__items"
                    >
                      <template
                        slot="selection"
                        slot-scope="data"
                      >
                        <v-chip
                          :selected="data.selected"
                          :disabled="data.disabled"
                          :key="JSON.stringify(data.item)"
                          class="v-chip--select-multi"
                          @input="data.parent.selectItem(data.item)"
                          close
                          label
                          color="white"
                        >
                          <v-avatar
                            class="primary"
                          >
                            <v-icon dark>{{ data.item.value.icon }}</v-icon>
                          </v-avatar>
                          {{ data.item.text}}
                        </v-chip>
                      </template>
                    </v-select>
                  </v-flex>
                  <v-layout row wrap>
                        <v-flex xs12 sm6 md4>
                          <v-select
                          box
                            v-model="state"
                            label="Ubigeo"
                            :items="states"
                            item-text="DescUbigeo"
                            append-icon="place"
                            @input.native="loadStates"
                            autocomplete
                          ></v-select>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                           <v-menu
                              ref="menu1"
                              :close-on-content-click="false"
                              v-model="menu1"
                              :nudge-right="40"
                              lazy
                              transition="scale-transition"
                              offset-y
                              full-width
                              max-width="290px"
                              min-width="290px"
                            >
                              <v-text-field
                                slot="activator"
                                box
                                v-model="dateFormatted"
                                label="Fecha Inicio"
                                hint="MM/DD/YYYY format"
                                persistent-hint
                                append-icon="event"
                                @blur="date = parseDate(dateFormatted)"
                              ></v-text-field>
                              <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                           <v-menu
                              ref="menu2"
                              :close-on-content-click="false"
                              v-model="menu2"
                              :nudge-right="40"
                              lazy
                              transition="scale-transition"
                              offset-y
                              full-width
                              max-width="290px"
                              min-width="290px"
                            >
                              <v-text-field
                                slot="activator"
                                box
                                v-model="dateFormatted"
                                label="Fecha Fin"
                                hint="MM/DD/YYYY format"
                                persistent-hint
                                append-icon="event"
                                @blur="date = parseDate(dateFormatted)"
                              ></v-text-field>
                              <v-date-picker v-model="date" no-title @input="menu2 = false"></v-date-picker>
                            </v-menu>
                        </v-flex>
                         <v-flex xs12 sm6 md4>
                          <v-text-field
                            box
                            label="Pack"
                            append-icon="folder_open"
                          ></v-text-field>
                        </v-flex>
                         <v-flex xs12 sm6 md4>
                          <v-text-field
                            box
                            label="Titulo"
                            append-icon="folder_open"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs6 sm3 md2>
                          <v-text-field
                            box
                            label="Adultos"
                            append-icon="person"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs6 sm3 md2>
                          <v-text-field
                            box
                            label="Niños"
                            append-icon="child_care"
                          ></v-text-field>
                        </v-flex>
                  </v-layout>
               <!-- <p v-for='(person, index) in people' :key='index'> </p>-->
                 <!--  <v-stepper v-model="e1" vertical>
                       <template v-for="(n, index) in select">
                        <v-stepper-step
                            :complete="e1 > n"
                            :key="`${index}-step`"
                            :step="n.bar"
                            edit-icon="flight"
                            editable
                          >
                            Step {{ n.foo}}
                        </v-stepper-step>
                        <v-stepper-items>
                          <v-stepper-content
                            :key="`${index}-content`"
                            :step="n.bar"
                          >
                            <v-card
                              class="mb-5"
                              color="grey lighten-1"
                              height="200px"
                            ></v-card>
                            <v-btn
                              color="primary"
                              @click="nextStep(n.bar)"
                            >
                              Continue
                            </v-btn>
                            <v-btn flat>Cancel</v-btn>
                          </v-stepper-content>
                        </v-stepper-items>
                    </template>
                    </v-stepper> -->
                     <v-stepper v-model="e1" vertical>
                        <template v-for="(n, index) in select">
                        <v-stepper-step :key="`${index}-step`" :edit-icon="n.icon" complete editable complete :step="n.id">
                          {{n.text}}
                          <small>Summarize if needed</small>
                        </v-stepper-step>
                        <v-stepper-content :key="`${index}-content`" :step="n.id">
                          <v-card color="grey lighten-1" class="mb-5" height="200px"></v-card>
                          <v-btn color="primary" @click="e1 += 1">Continue</v-btn>
                          <v-btn flat>Cancel</v-btn>
                        </v-stepper-content>
                       </template>
                      </v-stepper>
      
            </v-card-text>
  
            <div style="flex: 1 1 auto;"></div>
          </v-card>
        </v-dialog>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Cotizador',
  computed:{
      ...mapGetters({ 
        currentCoti: 'currentCoti'
        //activCoti: 'activCoti'
      }),
      computedDateFormatted () {
        return this.formatDate(this.date)
      }
  },
  data () {
    return {
      texto: 'esta es la pagina cotiza',
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      //items:null,
      state: null,
      states: [],

      menu1:false, //datepiker
      menu2:false,

      e1: 1,
      steps: 5,

      ex11: ['success', 'warning', 'error'],
      date: null,
      dateFormatted: null,
      items: [
      { text: 'Vuelo', value: { text: 'Vuelo', icon: 'flight', id: 1 } },
      { text: 'Hotel', value: { text: 'Hotel', icon: 'location_city', id: 2 } },
      { text: 'Tranporte', value: { text: 'Tranporte', icon: 'airport_shuttle', id: 3 } },
      { text: 'Autos', value: { text: 'Autos', icon: 'drive_eta', id: 4 } }
    ],
      select: [ ]
    }
  },
 created() {
    if (this.currentCoti) {
      this.dialog=this.currentCoti.cotisatus;
    }
 },
  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(val)
    },
    steps (val) {
      if (this.e1 > val) {
        console.log(val);
        this.e1 = val
      }
    }
   
  },
 methods:{
     loadStates(event) {
        if (event.target.value.length > 2) {
        this.$http.get(`/ubigeo/filterubigeodesc?DescUbigeo=${event.target.value}`).then(({ data }) => {
          this.states = data
        })
      }
    },

    closeDialog(){
      this.currentCoti.cotisatus=false;
      this.$store.dispatch('addCoti',this.currentCoti);
    },
    // getPostsTrabajador(){
    //     this.$http.get('/trabajador/getallworker?idagencia=' + this.currentUser.IdAgencia).then((resouesta)=>{
    //         this.items=resouesta.data;
    //     });
    //  },
     
   formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
     onInput (val) {
      console.log(val);
      this.steps = parseInt(val)
    },
    nextStep (n) {
      if (n === this.steps) {
        this.e1 = 1
      } else {
        this.e1 = n + 1
      }
    }
  // ,
  // remove (item) {

  //     // this.chips.splice(this.chips.indexOf(item), 1)
  //     // this.chips = [...this.chips]
  //   }
  
 }
}
</script>
<style>
	#dialig__cotizar .toolbar__title>p{
		margin-bottom: 0;
	}
	#dialig__cotizar{
		background-color: #ffd865 !important;
		color: #fff !important;
		}
	#dialig__cotizar .toolbar__items {
    align-items: center;
}
#dialig__cotizar .chip .avatar {
    height: 32px !important;
    margin-left: 35px;
    margin-right: -45px;
    min-width: 32px;
    width: 32px !important;

}
#dialig__cotizar .toolbar__content > .btn:first-child{
  margin-left: 0px; 
}
#dialig__cotizar .toolbar__content > .toolbar__title{
  margin-left: 0px; 
}
#dialig__cotizar .toolbar__content > .menu:last-child{
  margin-right: 0px; 
}
.coti__items .v-chip--select-multi {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.02), 0px 2px 2px 0px rgba(0, 0, 0, 0.13), 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
.coti__items .chip .avatar{
    width: 34px !important;
    height: 34px !important;
    border-radius: 3px;
    left: -1px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.02), 0px 2px 2px 0px rgba(0, 0, 0, 0.13), 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}
#conten__dialog_cotizar {
    background-color: #ffff;
    padding: 5px 15px;
}
#conten__dialog_cotizar .flex.md4 {
    padding-left: .2em;
    padding-right: .2em;
}
#conten__dialog_cotizar .layout .input-group--select .input-group__input{
  
    padding: 0px 13px 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#conten__dialog_cotizar .layout .input-group__input {
    min-height: 56px;
}
#conten__dialog_cotizar .layout .input-group--text-field label {
    top: 38px;
    left: 10px;
}
#conten__dialog_cotizar .layout .input-group--select .input-group__selections{
  align-items: flex-end;
}
#conten__dialog_cotizar .input-group--solo i.icon.material-icons.input-group__append-icon.input-group__icon-cb {
    display: none !important;
}
#conten__dialog_cotizar .input-group--solo .input-group__input {
    padding: 0px;
    margin: 0px;
}
#conten__dialog_cotizar .layout .input-group{
  margin-top:-15px;
}
#conten__dialog_cotizar .layout .input-group .input-group__input{
       box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0), 0px 2px 5px 0px rgba(0, 0, 0, 0.02), 1px 1px 4px 0px rgba(0, 0, 0, 0.13);
}

#conten__dialog_cotizar .layout {
    margin-top: 1.2em;
}
/**style switch***/

.input-group.input-group--selection-controls.switch .input-group--selection-controls__toggle {
    height: 30px !important;
    width: 66px !important;
    border-radius: 15px !important;
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__container {
    width: 60px !important;
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple--active {
    transform: translate(29px, -24px) !important;
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple:after {
    width: 28px !important;
    height: 28px !important;
    box-shadow: 0px 2px 0px -1px rgba(0,0,0,0.2), 0px 4px 1px 0px rgba(0,0,0,0.10), 0px 1px 0px 0px rgba(0,0,0,0.12) !important;
}
.input-group.input-group--selection-controls label {
    left: 0px !important;
}
.input-group.input-group--selection-controls.switch label {
    padding-left: 6px !important;
    color: #ffc107 !important;
    font-size: .85em;
}
#dialog__cotizar .menu__activator>.btn {
    margin: 0px 0px !important;
}
</style>