<template>
  <div>
        <v-tabs
          slot="extension"
          v-model="tab"
          :color="color"
         align-with-title
        >
          <v-tabs-slider color="secondary"></v-tabs-slider>
  
          <v-tab
            v-for="(item, i) in items"
            :key="item.idtab"
            @click.native.stop="bottomNav=i"
          >
            {{ item.title }}
          </v-tab>
        </v-tabs>
  
      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="item in items"
          :key="item.idtab"
          transition="scale-transition"
          reverse-transition="scale-transition"
        >
           <v-container
            fluid
            grid-list-md
          >
            <v-layout row wrap>

            <v-flex
                v-for="card in item.datacard"
                v-bind="{ [`xs${card.flex}`]: true }"
                :key="card.id"
                id="coti__flex"
              >
                <v-card id="coti__cards">
                    <v-container
                      fill-height
                      fluid
                      pa-2
                    >
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>

                          <span class="headline blue--text" v-text="card.descripcion"></span>
                        </v-flex>
                      </v-layout>
                    </v-container>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
          <!-- <v-card flat>
            <v-card-text>{{ text }}</v-card-text>
          </v-card> -->
        </v-tab-item>
      </v-tabs-items>
    </div>
    
</template>
<script>
export default {
  name: 'Cotizaciones',
  computed: {
    color () {
      switch (this.bottomNav) {
        case 0: return 'primary'
        case 1: return 'teal'
        case 2: return 'brown'
        case 3: return 'indigo'
      }
    },
    cssProps() { return {
        '--bg-hover-color': this.bgHoverColor
      }
    }
  },
  data () {
    return {
    msg: 'esta es la pagina list',
    bottomNav: 0,
    tab: null,
    bgHoverColor: "#00cc00",
    items: [
        { idtab:'1', title: 'Generados', 
          datacard: [
                {id:"1",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"2",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"3",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"4",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"5",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12}
                ], 
          flex: 12 },
        { idtab:'2',title: 'Enviados', 
          datacard: [
                {id:"1",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"2",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"3",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"4",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"5",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"6",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"7",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"8",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"9",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"10",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"11",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"12",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"13",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12}
          ], 
          flex: 12 },
        { idtab:'3',title: 'Respondidos', 
          datacard: [
                {id:"1",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"2",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"3",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"4",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"5",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"6",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"7",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"8",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12},
                {id:"9",descripcion:"cotizacion 00154 de dos pasajes pruebas",flex: 12}
          ], 
          flex: 12 }
      ]
    }
  },
  methods:{
  	getDatosApi(){
      this.$http.get('/products').then(request => this.AxiosSuccessful(request)).catch(() => this.AxiosFailed())
  		},
    AxiosSuccessful (req) {
      if (!req.data) {
        this.AxiosFailed()
        return
      }
      console.log(req.data);
    },
    AxiosFailed () {
     console.log('error');
    }
  }
}
</script>
<style>
#coti__flex::after {
    content: '';
    height: 100%;
    top: -103%;
    left: -.3em !important;
    background-color: #00cc00;   /*var(--bg-hover-color);*/
    border-radius: 3px;
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
}
div#coti__cards {
    z-index: 1;
}
</style>