<template>
  <!--<v-container fluid>-->
    <v-slide-y-transition mode="out-in">
       <v-carousel
        :hide-delimiters="true"
        :interval="8000"
       >
        <v-carousel-item v-for="(item,i) in items" :key="i">

         
          <v-container fluid grid-list-md>
              <v-flex
                v-bind="{ [`xs${item.flex}`]: true }"
              >
                <v-card>
                  <v-card-media
                    :src="item.src"
                    height="400px"
                  >
                    <v-container fill-height fluid>
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <span class="headline white--text" v-text="item.title"></span>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-media>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                      <v-icon>favorite</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>bookmark</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>add_shopping_cart</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
          </v-container>
       



        </v-carousel-item>
      </v-carousel>
    </v-slide-y-transition>
  <!--</v-container>-->
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      items: [
      { title: 'Pre-fab homes', src: 'https://mayorista.ctmtours.com/imagenessubidas/Grande/8664G-Paquete-SAN ANDRES_636572283889985494.jpg', flex: 12 },
      { title: 'Favorite road trips', src: 'https://mayorista.ctmtours.com/imagenessubidas/Grande/10660G-Paquete-ORLANDO_636673609212322514.jpg', flex: 12 },
      { title: 'Best airlines', src: 'https://mayorista.ctmtours.com/imagenessubidas/Grande/8664G-Paquete-SAN ANDRES_636572283889985494.jpg', flex: 12 }
    ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.container.fill-height {
    background-color: #ffffffed !important;
}
</style>
