<template >
	<v-container fluid>
		<v-layout column wrap>
			<v-flex  v-for="flag in itemsButtonFlag" :key="flag.IdMenu">
				<v-card> 
						<v-toolbar color="cabecera" style="color: #1976D2;">
								<v-toolbar-title class="text-xs-center">Perfiles</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-btn fab color="btnform" flat large  @click = "menu()"  @click.native="dialogNew = true" :disabled="!flag.FlagAdicion">
									<v-icon>person_add</v-icon>
								</v-btn>
						</v-toolbar> 
						<v-card-text> 
					        <v-flex xs12 sm6 md3>
					          <v-text-field
					          v-model="search"
					          append-icon="search"
					          label="Buscar"
					          single-line
					          hide-details
					          ></v-text-field>
					        </v-flex>
				    	</v-card-text>

				    	<v-flex 
			            v-for="(item,index) in perfilResults"
						:Key="item.IdPerfil">
			                   <v-layout row wrap>
			                      <v-flex xs6 sm9 md10 order-sm1 order-sm1>
			                        <v-card tile flat>
			                            <v-card-text><v-icon color="grey darken-2 ">account_box</v-icon>
			                            {{ item.DescPerfil }}
			                        	</v-card-text>	
			                        </v-card>
			                      </v-flex>
			   
			                       <v-flex xs6 sm3 md2 order-sm2 order-sm2>
			                        <v-card tile flat> 
			                             <v-card-text>
			                                <v-layout row wrap>
			                                        <v-flex xs4 order-md2 order-xs1>
			                                 
			                                              	<v-btn flat icon small :class="'cyan darken-2 white--text'" @click = "accessperfil(item.IdPerfil,index)" @click.native="dialogView = true">
																<v-icon size="20">security</v-icon>
															</v-btn>
			                                      
			                                        </v-flex>
			                                        <v-flex xs4  order-md2 order-xs1>
			                                     	
			                                             <v-btn flat icon small :class="'yellow darken-2 white--text'" :disabled="!flag.FlagActualizacion" @click = "edit(index),accessperfil(item.IdPerfil,index)">
															<v-icon size="20">edit</v-icon>
														</v-btn>
			                                          
			                                        </v-flex>
			                                        <v-flex xs4  order-md2 order-xs1>
			                                          
			                                              <v-btn flat icon small :class="'red darken-2 white--text'" :disabled="!flag.FlagEliminacion" @click = "deleteP(item.IdPerfil)">
																<v-icon size="20">delete</v-icon>
														  </v-btn>
			                                       
			                                        </v-flex>
			                                      </v-layout>
			                             </v-card-text>
			                        </v-card>
			                      </v-flex>
			                    </v-layout>
			                     <v-divider v-if="index + 1 < items.length" :key="`divider-${index}`"></v-divider>
			              </v-flex>
						
						<v-layout row justify-center>
						 <v-dialog v-model="dialogView" persistent max-width="500px">
				    	 	<v-form ref="form" v-model="valid" lazy-validation>
	                    		<v-card>
				                
								    <v-toolbar color="cabecera" style="color: #1976D2;" tabs>
								        <v-icon color = "btnform">security</v-icon>
								    	<v-toolbar-title> Acceso - {{ DescPerfil }} </v-toolbar-title>
								      	<v-tabs
								      	color="cabecera"
								      	style="color: #1976D2;"
								        slot="extension"
								        v-model="tabsMenu"
								        align-with-title
								        show-arrows
								      	>
								        	<v-tabs-slider color="yellow darken-2"></v-tabs-slider>

									        <v-tab v-for="ap in itemsAccessPerfil" :key="ap.IdMenu">
									          {{ ap.MenuDescripcion }} 
									        </v-tab>
								    	</v-tabs>

								    </v-toolbar>

								    <v-tabs-items v-model="tabsMenu">
								      <v-tab-item v-for="ap in itemsAccessPerfil" :key="ap.IdMenu">
								      	<v-card flat>
												<v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox  v-model="ap.FlagLectura" disabled></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Lectura</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
									          <v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox  v-model="ap.FlagAdicion" disabled></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Adición</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
									          <v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox v-model="ap.FlagActualizacion" disabled></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Actualización</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
									          <v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox  v-model="ap.FlagEliminacion" disabled></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Eliminación</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
									          <v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox  v-model="ap.FlagImpresion" disabled></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Impresión</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
											</v-card>
								      </v-tab-item>
								    </v-tabs-items>
								  
				               		<v-card-actions>
				                        <v-spacer></v-spacer>
				                        <v-btn color="red darken-2" flat @click.native="dialogView = false">Salir</v-btn>
				                    </v-card-actions>
			                    </v-card>
						      </v-form>
						</v-dialog>

					 
				    	 <v-dialog v-model="dialogNew" persistent max-width="500px">
				    	 	<v-form ref="form" v-model="valid" lazy-validation>
	                    		<v-card>
	                    			<v-toolbar color="cabecera" style="color: #1976D2;">
							            <v-icon color = "btnform">person_add</v-icon>
							          <v-toolbar-title>Nuevo Perfil</v-toolbar-title>
							          <v-spacer></v-spacer>
							        </v-toolbar>
			        
			                        <v-card-text>
				                        <v-container grid-list-md>
				                        	<v-layout wrap>
					                            <v-flex xs12>
						                            <v-text-field
						                              v-model = "DescPerfil"
						                              label="Descripción"			  
						                            ></v-text-field>
					                            </v-flex>
				                       		</v-layout>
				                        </v-container>
				                   </v-card-text>        
			                
							      <v-toolbar color="cabecera" style="color: #1976D2;" tabs>
							      <v-icon color = "btnform">security</v-icon>
							      <v-toolbar-title>Accesos</v-toolbar-title>
							      <v-tabs
							    	color="cabecera"
							    	style="color: #1976D2;"
								    slot="extension"
								    v-model="tabsMenu"
								    align-with-title
								    show-arrows
							      >
							        	<v-tabs-slider color="yellow darken-2"></v-tabs-slider>
								        <v-tab v-for="e in itemsTabMenu" :key="e.IdMenu">
								          {{ e.MenuDescripcion }} 
								        </v-tab>
							      </v-tabs>

							    </v-toolbar>

							    <v-tabs-items v-model="tabsMenu">
							      <v-tab-item v-for="e in itemsTabMenu" :key="e.IdMenu">
							      	<v-card flat>
											<v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox  v-model="e.FlagLectura"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Lectura</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox  v-model="e.FlagAdicion"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Adición</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox v-model="e.FlagActualizacion"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Actualización</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox  v-model="e.FlagEliminacion"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Eliminación</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox  v-model="e.FlagImpresion"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Impresión</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
										</v-card>
							      </v-tab-item>
							    </v-tabs-items>
						
			               		<v-card-actions>
			                        <v-spacer></v-spacer>
			                        <v-btn color="red darken-2" flat @click.native="dialogNew = false">Salir</v-btn>
			                         <v-btn color="green darken-2" flat :disabled="!valid"  @click = "submit()">Guardar</v-btn>
			                    </v-card-actions>
			                    </v-card>
						      </v-form>
						</v-dialog>

					    <v-dialog v-model="dialogEdit" persistent max-width="400px">
				    	 	<v-form ref="form" lazy-validation>
					      		<v-card> 
					      			<v-toolbar color="cabecera" style="color: #1976D2;">
							            <v-icon color = "btnform">person_add</v-icon>
							          <v-toolbar-title>Editar  -  {{ DescPerfil }}</v-toolbar-title>
							          <v-spacer></v-spacer>
							        </v-toolbar>

			                        <v-card-actions>
			                            <v-flex xs12>
				                            <v-text-field
				                              v-model = "DescPerfil"
				                              label="Descripción"			  
				                            ></v-text-field>
			                            </v-flex>
			                        </v-card-actions>     
			                        <div>
								    <v-toolbar color="cabecera" style="color: #1976D2;" tabs>
								      <v-icon color = "btnform">security</v-icon>
								      <v-toolbar-title> Accesos </v-toolbar-title>
								      <v-tabs
								   		color="cabecera" 
								   		style="color: #1976D2;"
								        slot="extension"
								        v-model="tabsMenu"
								        align-with-title
								        show-arrows  
								      >
								        	<v-tabs-slider color="yellow"></v-tabs-slider>

									        <v-tab v-for="ap in itemsAccessPerfil" :key="ap.IdMenu">
									          {{ ap.MenuDescripcion }} 
									        </v-tab>
								      </v-tabs>

								    </v-toolbar>

								    <v-tabs-items v-model="tabsMenu">
								      <v-tab-item v-for="ap in itemsAccessPerfil" :key="ap.IdMenu">
								      	<v-card flat>
												<v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox  v-model="ap.FlagLectura"></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Lectura</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
									          <v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox  v-model="ap.FlagAdicion"></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Adición</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
									          <v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox v-model="ap.FlagActualizacion"></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Actualización</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
									          <v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox  v-model="ap.FlagEliminacion"></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Eliminación</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
									          <v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox  v-model="ap.FlagImpresion"></v-checkbox>
										            </v-list-tile-action>
										            <v-list-tile-content>
										              <v-list-tile-title>Impresión</v-list-tile-title>
										            </v-list-tile-content>
									          </v-list-tile>
											</v-card>
								      </v-tab-item>
								    </v-tabs-items>
								  </div> 
			                    	<v-card-actions>
			                       		 <v-spacer></v-spacer>
				                         <v-btn color="red darken-2" flat @click.native="dialogEdit = false">Salir</v-btn>
				                         <v-btn color="green darken-2" flat :disabled="!valid"  @click = "update()">Guardar</v-btn>
			                    	</v-card-actions>
			                    </v-card>
					      	</v-form>
					    </v-dialog>
					</v-layout>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	import User from '@/models/User'
	import { mapGetters } from 'vuex'
	var session = require('@/store/getSession.js');
	export default {
		name: 'Perfil',
	create(){
			
		},

	mounted(){

		this.getPostsAccess();
		this.getPostsPerfil();

		},
	computed: {

 		 ...mapGetters({ currentUser: 'currentUser' })	,

      	perfilResults() {
         /// Filter results
         return this.items .filter((item) => {
         return item.DescPerfil.toLowerCase()
           .indexOf(this.search.toLowerCase()) > -1;
         });
      }
    },

	data () {
			return {
			valid: true,
			tabsMenu: null,
			dialogView: false,
			dialogNew: false,
			dialogEdit: false,
			search: '',	
			btnNuevo: true,
			IdPerfil: '',
			DescPerfil: '',
			items: [],
			itemsTabMenu: [],
			itemsButtonFlag: [],
			itemsAccessPerfil: [],
		    ErrorMessage:'',
			SuccessMessage: '',
			QuestionMessage: ''
    }
		},

		 

	methods:{

       getPostsPerfil(){
       	this.$http.get('/perfil/getallperfil')
        .then((resouesta)=>{
          	this.items=resouesta.data;
        });
      },

      getPostsAccess(){
      	var Menu = "1005";

       	this.$http.post('/acceso/getmenuaccess', 
       	{ 	"UserLogin":this.currentUser.IdUsuario,
          	"IdMenu": Menu
        })
        .then((resouesta)=>{
          	this.itemsButtonFlag=resouesta.data;
        });
      },

      accessperfil: function(IdPerfil,index){
      		this.DescPerfil = this.items[index].DescPerfil;
      		//this.dialogView = !this.dialogView; 
	       	this.$http.post('/acceso/getperfilaccess', 
	       	{ 	"UserLogin":this.currentUser.IdUsuario,
	          	"IdPerfil": IdPerfil
	        })
	        .then((resouesta)=>{
	          	this.itemsAccessPerfil=resouesta.data;
	        });
      	},

      menu: function(){
	        this.$http.get('/menu/getallmenu').then((resouesta)=>{
	         	this.itemsTabMenu=resouesta.data;
	         	
	         });
      	},

      submit: function(){
       // if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
      	this.ErrorMessage = 'No se puede crear el perfil';
      	this.SuccessMessage = 'Se ha creado correctamente el perfil';

      		
          	this.$http.post('perfil/create',  
          	{ 	"UserLogin":this.currentUser.IdUsuario,
          		"IdAgencia":this.currentUser.IdAgencia,
		        "DescPerfil": this.DescPerfil,
		        "Array": JSON.stringify(this.itemsTabMenu)
		        
          	}).then((request)=>{
            	this.AxiosSuccessful(request);
          		this.dialogNew = !this.dialogNew;
        		//console.log(response);
			}).catch(() => this.AxiosFailed());	

       // }
      },

      edit: function(index){
      	
	        this.dialogEdit = !this.dialogEdit; 
	        this.IdPerfil = this.items[index].IdPerfil;
	        this.UserLogin = this.currentUser.IdUsuario;
	        this.DescPerfil = this.items[index].DescPerfil;  
	       	//console.log(resouesta.data);
      },

      update: function(){
      	this.ErrorMessage = 'No se puede actualizar el perfil';
      	this.SuccessMessage = 'Se actualizado correctamente el perfil';

      	 //alert(JSON.stringify(this.itemsAccessPerfil));
 		this.$http.post('perfil/update', 
          	{ 	"UserLogin":this.currentUser.IdUsuario,
          		"IdAgencia":this.currentUser.IdAgencia,
          		"IdPerfil": this.IdPerfil,
          		"DescPerfil": this.DescPerfil,
          		"Array": JSON.stringify(this.itemsAccessPerfil)
          	})
 				.then((request)=>{
            		this.AxiosSuccessful(request);
            		this.dialogEdit = !this.dialogEdit;
               // console.log(resouesta.data);
        		})
				.catch(() => this.AxiosFailed());	    
      },

      

      deleteP: function(IdPerfil){
      	this.ErrorMessage = 'No se puede eliminar el perfil';
      	this.QuestionMessage = '¿ Desea eliminar el perfil ?';
      	this.SuccessMessage = 'Se ha eliminado correctamente el perfil';

      	this.AxiosQuestion();
      
       	this.$http.post('/perfil/delete',
       	{
       		"UserLogin":this.currentUser.IdUsuario,
          	"IdAgencia":this.currentUser.IdAgencia,
          	"IdPerfil": IdPerfil
       	})
       		.then((request)=>{
       			this.AxiosSuccessful(request);		
       		})
      		.catch(() => this.AxiosFailed());
      	},

       AxiosSuccessful (req) {
	      if (!req.data) {
	        this.AxiosFailedData();
	        return
	      }	
	      else{
	        this.AxiosSuccess();
	      	this.getPostsPerfil();
	        return
	      }
      },

     	AxiosFailed () {
      	this.$iziToast.error({
	        iconText: 'link_off',
	        title: "Error",
	        message: this.ErrorMessage,
	        timeout: 3000,
	        progressBar: true,
	        layout: 1
      	});
      },

      AxiosFailedData () {
      	this.$iziToast.error({
	        iconText: 'link_off',
	        title: "Error",
	        message: "Data Api",
	        timeout: 3000,
	        progressBar: true,
	        layout: 1
      	});
      },

   		
      AxiosQuestion () {
      	this.$iziToast.show({
	        
	        color: 'dark',
	        icon: 'fa fa-user',
	        title: 'Hey',
	        message: this.QuestionMessage,
	        position: 'center',
	        timeout: false,
	        buttons: [
		        ['<button>Si</button>', function (instance, toast) {
		            instance.hide({
		                transitionOut: 'fadeOutUp',
		                onClosing: function(instance, toast, closedBy){
		                    console.info('closedBy: ' + closedBy); // The return will be: 'closedBy: buttonName'
		                }
		            }, toast, 'buttonName');
		            	
		        }, true], // true to focus
		        ['<button>No</button>', function (instance, toast) {
		            instance.hide({
		                transitionOut: 'fadeOutUp',
		                onClosing: function(instance, toast, closedBy){
		                    console.info('closedBy: ' + closedBy); // The return will be: 'closedBy: buttonName'
		                }
		            }, toast, 'buttonName');
		        }]
		    ],
		    onOpening: function(instance, toast){
		        console.info('callback abriu!');
		    },
		    onClosing: function(instance, toast, closedBy){
		        console.info('closedBy: ' + closedBy); // tells if it was closed by 'drag' or 'button'
		    },

	        layout: 1
      	});
      },

    	AxiosSuccess () {
	    this.$iziToast.success({
	        iconText: 'done',
	        title: "OK",
	        message: this.SuccessMessage,
	        timeout: 3000,
	        progressBar: true,
	        layout: 1
	     	});
    	}
	 }
}
</script>
