<template>
    <div>
        <v-tabs
          slot="extension"
          v-model="tab"
          color="primary"
         align-with-title
        >
          <v-tabs-slider color="secondary"></v-tabs-slider>
  
          <v-tab
            v-for="item in items"
            :key="item"
          >
            

            {{ item }}
          </v-tab>
        </v-tabs>
  
      <v-tabs-items v-model="tab">
        <v-tab-item
          v-for="item in items"
          :key="item"
        >
        <BusinessInfo/>
          <!-- <v-card flat>
            <v-card-text>{{ text }}</v-card-text>
          </v-card> -->
        </v-tab-item>
      </v-tabs-items>
    </div>
</template>

<script>
import BusinessInfo from '@/components/Master/Settings/BusinessInfo.vue'
export default {

  name: 'Settings',
  props: {
    msg: String
  },
  components: {
    BusinessInfo,
    
    //appUserDetail: Cotizar
  },
  data () {
    return {
      tab: null,
      items: [
        'Informacion', 'Otros'
      ],
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
