<template>
 <v-container fluid grid-list-sm>
    <v-layout row wrap>
      <v-flex  v-for="flag in itemsButtonFlag" :key="flag.IdMenu"> 
        <v-card>
            <v-toolbar color="cabecera" style="color: #1976D2;">
                  <v-toolbar-title class="text-xs-center">Trabajadores</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn :disabled="!flag.FlagAdicion" fab color="btnform" flat large @click.native="dialogNew = true"  @click = "cargarcombos()">
                      <v-icon>person_add</v-icon> 
                  </v-btn>
            </v-toolbar> 
            <v-card-text> 
                <v-flex xs12 sm6 md3>
                  <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Buscar"
                  single-line
                  hide-details
                  ></v-text-field>
                </v-flex>
            </v-card-text>

              <v-flex 
              v-for="(item,index) in trabajadorResults"
              :key="item.IdTrabajador">
                   <v-layout row wrap>
                      <v-flex xs12 sm6 md1 order-md3 order-sm1>
                        <v-card tile flat>
                            <v-card-text><img width="70px" :src="item.Foto"> </v-card-text>       
                        </v-card>
                      </v-flex>
                      <v-flex  sm6 md3 order-md3 order-sm1>
                        <v-card tile flat>
                            <v-card-text>{{ item.ApeNom }}</v-card-text>
                            <v-card-text style="color: #757575;">{{ item.Cargo }}</v-card-text>
                        </v-card>
                      </v-flex>
                      <v-flex  sm6 md3 order-md3 order-sm1>
                        <v-card tile flat>
                            <v-card-text><v-icon>cake</v-icon>{{ item.FechaNac }}</v-card-text>
                            <v-card-text><v-icon>assignment_ind</v-icon>{{ item.NDocumento }}</v-card-text>
                        </v-card>
                      </v-flex>
                      <v-flex  sm6 md3 order-md3 order-sm1>
                        <v-card tile flat>
                            <v-card-text><v-icon>local_phone</v-icon>{{ item.Telefono }}</v-card-text>
                            <v-card-text><v-icon>mail</v-icon>{{ item.Email }}</v-card-text>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 sm3 md2 order-md3 order-sm2>
                        <v-card tile flat> 
                             <v-card-text class="px-0">
                                <v-layout row>
                                        <v-flex xs4 order-md2 order-xs1>
                                          <v-card tile flat>
                                            <v-card-text class="px-0">
                                              <v-btn flat icon small :class="'cyan darken-2 white--text'" @click = "view(index)" @click.native="dialogView = true">
                                                <v-icon>visibility</v-icon>
                                              </v-btn>
                                            </v-card-text>
                                          </v-card>
                                        </v-flex>
                                        <v-flex xs4  order-md2 order-xs1>
                                          <v-card  tile flat>
                                           <v-card-text class="px-0">
                                             <v-btn flat icon small :class="'yellow darken-2 white--text'"  :disabled="!flag.FlagActualizacion" @click.native = "edit(index)" @click = "cargarcombos()">
                                              <v-icon>edit</v-icon>
                                            </v-btn>
                                            </v-card-text>
                                          </v-card>
                                        </v-flex>
                                        <v-flex xs4  order-md2 order-xs1>
                                          <v-card tile flat>
                                            <v-card-text class="px-0">
                                              <v-btn flat icon small :class="'red darken-2 white--text'" :disabled="!flag.FlagEliminacion" @click = "deleteT(item.IdTrabajador)">
                                                <v-icon>delete</v-icon>
                                              </v-btn>
                                            </v-card-text>
                                          </v-card>
                                        </v-flex>
                                      </v-layout>
                             </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                     <v-divider v-if="index + 1 < items.length" :key="`divider-${index}`"></v-divider>
              </v-flex>
              
              <v-layout row justify-center>
                <v-dialog v-model="dialogView" persistent max-width="450px" >
                
                    <v-card>
                        <v-card-title
                          color="cabecera" style="color: #1976D2;"
                          class="headline white darken-2"
                          primary-title
                        >
                        <v-icon style="color: #1976D2;">assignment</v-icon>
                          Detalle - {{ ApeNom }}
                        </v-card-title>

                        <v-card-text>
                          <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "EstadoCivil"
                                    label="Estado Civil"
                                    disabled
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "OtroCelular"
                                    label="Celular"
                                    disabled
                                  ></v-text-field>
                                </v-flex>
                          
                               <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Area"
                                    label="Área"
                                    disabled
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Local"
                                    label="Local"
                                    disabled
                                  ></v-text-field>
                                </v-flex>
              
                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Ubigeo"
                                    label="Ubigeo"
                                    disabled
                                  ></v-text-field>
                                </v-flex>
                            
                              <v-flex xs12 sm6 md4>
                                <v-text-field
                                  v-model = "Direccion"
                                  label="Dirección"
                                  disabled
                                ></v-text-field>
                              </v-flex>
                          
                          </v-layout>
                        </v-container>
                        <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn color="red darken-1" flat @click.native="dialogView = false">Salir</v-btn>
                        </v-card-actions>
                  </v-card-text>
                </v-card>
            </v-dialog> 

             <v-dialog v-model="dialogNew" persistent max-width="600px">
                  <v-form ref="form" v-model="valid" @submit.prevent lazy-validation>
                    <v-card>
                        <v-card-title
                          color="cabecera" style="color: #1976D2;"
                          class="headline white darken-2"
                          primary-title
                        >
                        <v-icon style="color: #1976D2;">person_add</v-icon>
                          Nuevo Trabajador
                        </v-card-title>

                        <v-card-text>
                          <v-container grid-list-md>
                            <v-layout wrap>                     
                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Nombres"
                                    label="Nombres" 
                                    required   
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Apellidos"
                                    label="Apellidos"
                                    required
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsSexo"
                                  v-model="selectSexo"
                                  item = "IdSexo"
                                  item-text="DescSexo"
                                  :rules="[v => !!v || 'Sexo es requerido']"    
                                  label="Sexo"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex>  

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsNacionalidad"
                                  v-model="selectNacionalidad"
                                  item = "IdNacionalidad"
                                  item-text="DescNacionalidad"
                                  :rules="[v => !!v || 'Nacionalidad es requerido']"    
                                  label="Nacionalidad"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex> 
                                
                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsTipoDocumento"
                                  v-model="selectTipoDocumento"
                                  item = "IdTipoDocumento"
                                  item-text="DescTipoDocumento"
                                   :rules="[v => !!v || 'Documento es requerido']"    
                                  label="Tipo Documento"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex>  

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "NDocumento"
                                    label="N° Documento"
                                  ></v-text-field>
                                </v-flex>   

                                <v-flex xs12 sm6 md4>
                                    <v-menu
                                      :close-on-content-click="false"
                                      v-model="menu2"
                                      :nudge-right="40"
                                      lazy
                                      transition="scale-transition"
                                      offset-y
                                      full-width
                                      max-width="290px"
                                      min-width="290px"
                                    >
                                      <v-text-field
                                        slot="activator"
                                        v-model="computedDateFormatted"
                                        label="Fecha Nacimiento"
                                        persistent-hint
                                        prepend-icon="event"
                                        readonly
                                      ></v-text-field>
                                      <v-date-picker v-model="date" no-title @input="menu2 = false"></v-date-picker>
                                    </v-menu>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsEstadoCivil"
                                  v-model="selectEstadoCivil"
                                  item = "IdEstadoCivil"
                                  item-text="DescEstadoCivil"
                                  :rules="[v => !!v || 'Estado Civil es requerido']"    
                                  label="Estado Civil"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsArea"
                                  v-model="selectArea"
                                  item = "IdArea"
                                  item-text="DescArea"
                                  :rules="[v => !!v || 'Area es requerido']"    
                                  label="Area"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex> 

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsLocal"
                                  v-model="selectLocal"
                                  item = "IdLocal"
                                  item-text="DescLocal"
                                  :rules="[v => !!v || 'Local es requerido']"    
                                  label="Local"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex>    

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsCargo"
                                  v-model="selectCargo"
                                  item = "IdCargo"
                                  item-text="DescCargo"
                                  :rules="[v => !!v || 'Cargo es requerido']"    
                                  label="Cargo"
                                  autocomplete
                                  required
                                 ></v-select>
                                </v-flex> 

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsUbigeo"
                                  v-model="selectUbigeo"
                                  item = "IdUbigeo"
                                  item-text="DescUbigeo"
                                  :rules="[v => !!v || 'Ubigeo es requerido']"    
                                  label="Ubigeo"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex>  

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Direccion"
                                    label="Dirección" 
                                    required   
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Telefono"
                                    label="Telefono"    
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Celular"
                                    label="Celular"
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "OtroCelular"
                                    label="Otro Celular"
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model="Email"
                                    :rules="emailRules"                                
                                    label="Email"
                                  ></v-text-field>
                                </v-flex> 

                                <v-flex xs12>
                                  <v-text-field
                                    v-model = "Observacion"
                                    label="Observación"    
                                  ></v-text-field>
                                </v-flex>

                        </v-layout>
                      </v-container>      
                      <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="red darken-2" flat @click.native="dialogNew = false">Salir</v-btn>
                          <v-btn color="green darken-2" flat :disabled="!valid"  @click = "submit()">Guardar</v-btn>
                      </v-card-actions>
                     </v-card-text>                        
                    </v-card>
                </v-form>
              </v-dialog>

             <v-dialog v-model="dialogEdit"  persistent max-width="600px">
               <v-form ref="form" v-model="valid" lazy-validation>
                    <v-card>
                         <v-card-title
                          color="cabecera" style="color: #1976D2;"
                          class="headline white darken-2"
                          primary-title
                        >
                        <v-icon style="color: #1976D2;">edit</v-icon>
                          Editar - {{ ApeNom }}
                        </v-card-title>

                        <v-card-text>
                          <v-container grid-list-md>
                            <v-layout wrap>
                           
                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Nombres"
                                    label="Nombres" 
                                    disabled   
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Apellidos"
                                    label="Apellidos"
                                    disabled
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsSexo"
                                  v-model="IdSexo"
                                  label="Sexo"
                                  item-value = "IdSexo"
                                  item-text="DescSexo"              
                                  disabled
                                  ></v-select>
                                </v-flex>  

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsNacionalidad"
                                  v-model="IdNacionalidad"
                                  item-value = "IdNacionalidad"
                                  item-text="DescNacionalidad"
                                  label="Nacionalidad"
                                  disabled
                                  ></v-select>
                                </v-flex> 
                          
                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsTipoDocumento"
                                  v-model="IdTipoDocumento"
                                  item-value = "IdTipoDocumento"
                                  item-text="DescTipoDocumento"
                                  label="Tipo Documento"
                                  disabled
                                  ></v-select>
                                </v-flex>  

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "NDocumento"
                                    label="N° Documento"
                                    disabled
                                  ></v-text-field>
                                </v-flex>   

                                <v-flex xs12 sm6 md4>
                                  <v-menu
                                    :close-on-content-click="false"
                                    v-model="menu3"
                                    :nudge-right="40"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    max-width="290px"
                                    min-width="290px"
                                  >
                                    <v-text-field
                                      slot="activator"
                                      v-model="computedFechaNacFormatted"
                                      label="Fecha Nacimiento"
                                      persistent-hint
                                      prepend-icon="event"
                                      disabled
                                    ></v-text-field>
                                    <v-date-picker v-model="FechaEdit" no-title @input="menu3 = false"></v-date-picker>
                                  </v-menu>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsEstadoCivil"
                                  v-model="IdEstadoCivil"
                                  item-value = "IdEstadoCivil"
                                  item-text="DescEstadoCivil"
                                  label="Estado Civil"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                    <v-select
                                    :items="itemsArea"
                                    v-model="IdArea"
                                    item-value = "IdArea"
                                    item-text="DescArea"
                                    label="Area"
                                    autocomplete
                                    required
                                    ></v-select>
                                </v-flex> 

                                <v-flex xs12 sm6 md4>
                                  <v-select
                                  :items="itemsLocal"
                                  v-model="IdLocal"
                                  item-value = "IdLocal"
                                  item-text="DescLocal"
                                  label="Local"
                                  autocomplete
                                  required
                                  ></v-select>
                                </v-flex>    

                                <v-flex xs12 sm6 md4>
                                    <v-select
                                    :items="itemsCargo"
                                    v-model="IdCargo"
                                    item-value = "IdCargo"
                                    item-text="DescCargo"
                                    label="Cargo"
                                    autocomplete
                                    required
                                    ></v-select>
                                </v-flex> 

                                <v-flex xs12 sm6 md4>
                                    <v-select
                                    :items="itemsUbigeo"
                                    v-model="IdUbigeo"
                                    item-value = "IdUbigeo"
                                    item-text="DescUbigeo"
                                    label="Ubigeo"
                                    autocomplete
                                    required
                                    ></v-select>
                                </v-flex>  

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Direccion"
                                    label="Dirección" 
                                    required   
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Telefono"
                                    label="Telefono"    
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                  <v-text-field
                                    v-model = "Celular"
                                    label="Celular"
                                  ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                    <v-text-field
                                      v-model = "OtroCelular"
                                      label="Otro Celular"
                                    ></v-text-field>
                                </v-flex>

                                <v-flex xs12 sm6 md4>
                                    <v-text-field
                                      v-model="Email"
                                      :rules="emailRules"                                
                                      label="Email"
                                    ></v-text-field>
                                </v-flex> 

                                <v-flex xs12>
                                  <v-text-field
                                    v-model = "Observacion"
                                    label="Observación"    
                                  ></v-text-field>
                                </v-flex>
                          </v-layout>
                        </v-container>         
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="red darken-2" flat @click.native="dialogEdit = false">Salir</v-btn>
                          <v-btn color="green darken-2" flat :disabled="!valid"  @click.prevent = "update()">Guardar</v-btn>
                        </v-card-actions>
                      </v-card-text>   
                    </v-card>
                </v-form>
              </v-dialog>
            </v-layout>            
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import User from '@/models/User'
  import { mapGetters } from 'vuex'
  var session = require('@/store/getSession.js');
  export default {
    name: 'Trabajador',
    create(){
      
    },

    mounted(){

        this.getPostsAccess();
        this.getPostsTrabajador();

    },
    computed: {

         ...mapGetters({ currentUser: 'currentUser' })  ,

        computedDateFormatted () {
          return this.formatDate(this.date);
        },

        computedFechaNacFormatted () {
          return this.formatDate(this.FechaEdit);
        },

        trabajadorResults() {
         /// Filter results
         return this.items .filter((item) => {
         return item.ApeNom.toLowerCase()
           .indexOf(this.search.toLowerCase()) > -1;
         });
      }
    },


    data () {
      return {
      valid: false,
      date: null,
      menu2: false,
      menu3: false,
      modal: false,
      search: '',

      dialogNew: false,
      dialogView: false,
      dialogEdit: false,
      checkmaster: false,
      
      //Crear - Update

      FechaEdit: '' ,
      IdTrabajador: '',
      ApeNom: '',
      IdAgencia: '',
      IdSexo: '',
      IdCargo: '',
      IdTipoDocumento: '',
      NDocumento: '',
      Nombres: '',
      Apellidos: '',
      Cargo: '',
      IdEstadoCivil: '',
      FechaNac: '',
      IdUbigeo: '',
      Direccion: '',
      Telefono: '',
      Celular: '',
      OtroCelular: '',
      Email: '',
      emailRules: [
        v => !!v || 'E-mail es requerido',
        v => /.+@.+/.test(v) || 'E-mail no es válido'
      ],
      IdLocal: '',
      IdArea: '',
      IdNacionalidad: '',
      Observacion: '' ,

      //Detalle
      EstadoCivil:'',
      Area:'',
      Local:'',
      Ubigeo:'',
      Nacionalidad: '',

      items: [],
      itemsButtonFlag:[],

      //Combos
      selectSexo: null,
      itemsSexo: [],
      selectCargo: null,
      itemsCargo: [],
      selectLocal: null,
      itemsLocal: [],
      selectEstadoCivil: null,
      itemsEstadoCivil: [],
      selectNacionalidad: null,
      itemsNacionalidad:[],
      selectTipoDocumento: null,
      itemsTipoDocumento: [],
      selectArea: null,
      itemsArea: [],
      selectUbigeo: null,
      itemsUbigeo: [],


      ErrorMessage:'',
      SuccessMessage: ''
     
      }
    },

     

    methods:{
          clearEdit() {
              this.$refs.form.reset();
            },
     

      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      parseDate (date) {
        if (!date) return null

        const [day, month, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },

       getPostsAccess(){
        var Menu = "3";

        this.$http.post('/acceso/getmenuaccess', 
        {   "UserLogin":this.currentUser.IdUsuario,
            "IdMenu": Menu
        })
        .then((resouesta)=>{
            this.itemsButtonFlag=resouesta.data;
        });
      },

      getPostsTrabajador(){
        this.$http.get('/trabajador/getallworker?idagencia=' + this.currentUser.IdAgencia).then((resouesta)=>{
            this.items=resouesta.data;
        });
      },

      view: function(index){
      //alert(IdTrabajador);
      
          this.ApeNom = this.items[index].ApeNom;
          this.EstadoCivil = this.items[index].EstadoCivil;
          this.OtroCelular= this.items[index].OtroCelular;
          this.Area= this.items[index].Area;
          this.Local= this.items[index].Local;
          this.Ubigeo= this.items[index].Ubigeo;
          this.Direccion= this.items[index].Direccion;
      },
    
       cargarcombos(){
        //Sexo
          this.$http.get('/sexo/getlistcbosexo')
              .then((resouesta)=>{
                  this.itemsSexo=resouesta.data;
          });

        //cargo
          this.$http.get('/cargo/getlistcbocargo')
              .then((resouesta)=>{
                  this.itemsCargo=resouesta.data;
          });

          //estadocivil
          this.$http.get('/estadocivil/getlistcboestadocivil')
              .then((resouesta)=>{
                  this.itemsEstadoCivil=resouesta.data;
          });

          //tipodocumento
          this.$http.get('/tipodocumento/getlistcbotipodocumento')
              .then((resouesta)=>{
                  this.itemsTipoDocumento=resouesta.data;
          });

          //area
          this.$http.get('/area/getlistcboarea?IdAgencia=' + this.currentUser.IdAgencia)
              .then((resouesta)=>{
                  this.itemsArea=resouesta.data;
          });

          //ubigeo
          this.$http.get('/ubigeo/getlistcboubigeo')
              .then((resouesta)=>{
                  this.itemsUbigeo=resouesta.data;
          });

          this.$http.get('/local/getlistcbolocal?IdAgencia=' + this.currentUser.IdAgencia)
              .then((resouesta)=>{
                  this.itemsLocal=resouesta.data;
          });

          this.$http.get('/nacionalidad/getlistcbonacionalidad')
              .then((resouesta)=>{
                  this.itemsNacionalidad=resouesta.data;
          });
      },


      submit: function(){
      // if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
        this.ErrorMessage = 'No se puede crear el trabajador';
        this.SuccessMessage = 'Se ha creado correctamente el trabajador';

            this.$http.post('trabajador/create',  
            { "UserLogin":this.currentUser.IdUsuario,
              "IdAgencia":this.currentUser.IdAgencia,
              "IdSexo": this.selectSexo.IdSexo,
              "IdTipoDocumento": this.selectTipoDocumento.IdTipoDocumento,
              "NDocumento": this.NDocumento,
              "Nombres": this.Nombres,
              "Apellidos":  this.Apellidos,
              "IdCargo": this.selectCargo.IdCargo,
              "IdEstadoCivil": this.selectEstadoCivil.IdEstadoCivil,
              "FechaNac": this.date,
              "IdUbigeo": this.selectUbigeo.IdUbigeo,
              "Direccion": this.Direccion,
              "Telefono": this.telefono,
              "Celular": this.celular,
              "OtroCelular": this.otrocelular,
              "Email": this.email,
              "IdLocal": this.selectLocal.IdLocal,
              "IdArea": this.selectArea.IdArea,
              "IdNacionalidad": this.selectNacionalidad.IdNacionalidad,
              "Observacion": this.observacion 
            }).then((request)=>{
              this.AxiosSuccessful(request);
              this.dialogNew = !this.dialogNew;
              
            //console.log(response);
            }).catch(() => this.AxiosFailed()); 
      //}
      },


      edit: function(index){
          this.dialogEdit = !this.dialogEdit;
          this.IdTrabajador = this.items[index].IdTrabajador;
          this.IdSexo = this.items[index].IdSexo;
          this.ApeNom = this.items[index].ApeNom;
          this.IdTipoDocumento = this.items[index].IdTipoDocumento;
          this.NDocumento = this.items[index].NDocumento;
          this.Nombres = this.items[index].Nombres;
          this.Apellidos = this.items[index].Apellidos;
          this.IdCargo = this.items[index].IdCargo;
          this.IdEstadoCivil = this.items[index].IdEstadoCivil;
          this.FechaEdit= this.parseDate(this.items[index].FechaNac);
          this.IdUbigeo = this.items[index].IdUbigeo;
          this.Direccion = this.items[index].Direccion;
          this.Telefono = this.items[index].Telefono;
          this.Celular = this.items[index].Celular;
          this.OtroCelular = this.items[index].OtroCelular;
          this.Email = this.items[index].Email;
          this.IdLocal = this.items[index].IdLocal;
          this.IdArea = this.items[index].IdArea;
          this.IdNacionalidad = this.items[index].IdNacionalidad;
          this.Observacion = this.items[index].Observacion;    
            // = this.parseDate(this.itemsEdit[0].FechaNac);
          
      },

      update: function(){

        this.ErrorMessage = 'No se puede actualizar el trabajador';
        this.SuccessMessage = 'Se actualizado correctamente el trabajador';

        this.$http.post('trabajador/update', 
            { "UserLogin":this.currentUser.IdUsuario,
              "IdTrabajador": this.IdTrabajador,
              "IdAgencia":this.currentUser.IdAgencia,
              "IdCargo": this.IdCargo,
              "IdEstadoCivil": this.IdEstadoCivil,
              "IdUbigeo": this.IdUbigeo,
              "Direccion": this.Direccion,
              "Telefono": this.Telefono,
              "Celular": this.Celular,
              "OtroCelular": this.OtroCelular,
              "Email": this.Email,
              "IdLocal": this.IdLocal,
              "IdArea": this.IdArea,
              "IdNacionalidad": this.IdNacionalidad,
              "Observacion": this.Observacion  
           })
        .then((request)=>{
                this.AxiosSuccessful(request);
                this.dialogEdit = !this.dialogEdit; 

               // console.log(resouesta.data);
            })
        .catch(() => this.AxiosFailed()); 
          //this.clearEdit();
        },


      deleteT: function(IdTrabajador){
        this.ErrorMessage = 'No se puede eliminar el trabajador';
        this.SuccessMessage = 'Se ha eliminado correctamente el trabajador';

        this.$http.post('/trabajador/delete',
        {
              "IdTrabajador": IdTrabajador,
              "UserLogin":this.currentUser.IdUsuario,  
              "IdAgencia":this.currentUser.IdAgencia      
        })
          .then((request)=>{
                this.AxiosSuccessful(request);
          })
          .catch(() => this.AxiosFailed());
      },

       AxiosSuccessful (req) {
        if (!req.data) {
          this.AxiosFailed();
          return
        } 
        else{
          this.AxiosSuccess();
            this.getPostsTrabajador();
          return
        }
      },

      AxiosFailed () {
        this.$iziToast.error({
          iconText: 'link_off',
          title: "Error",
          message: this.ErrorMessage,
          timeout: 3000,
          progressBar: true,
          layout: 1
        });
      },

      
      AxiosSuccess () {
      this.$iziToast.success({
          iconText: 'done',
          title: "OK",
          message: this.SuccessMessage,
          timeout: 3000,
          progressBar: true,
          layout: 1
        });
      }
   }
}
</script>