<template>
	<v-container fluid grid-list-sm>
    <v-layout row wrap>
			<v-flex v-for="flag in itemsButtonFlag" :key="flag.IdMenu">
				<v-card>
						<v-toolbar color="cabecera" style="color: #1976D2;">
							<v-toolbar-title class="text-xs-center">Usuarios</v-toolbar-title>
							<v-spacer></v-spacer>
							<v-btn :disabled="!flag.FlagAdicion" fab color="btnform" flat large style="color: #1976D2;" @click.native="dialogNew = true"  @click = "cargarcombos()" >
							<v-icon>person_add</v-icon> 
							</v-btn>
						</v-toolbar> 
						<v-card-text> 
					        <v-flex xs12 sm6 md3>
						          <v-text-field
						          v-model="search"
						          append-icon="search"
						          label="Buscar"
						          single-line
						          hide-details
						          ></v-text-field>
					        </v-flex>
					    </v-card-text>

						<v-flex 
						v-for="(item,index) in usuarioResults"
						:key="item.IdUsuario"
						>

							<v-layout row wrap>
		                      <v-flex xs12 sm2 md1 order-md1 order-sm1>
		                        <v-card tile flat>
		                            <v-card-text><img width="60px" :src="item.Foto"></v-card-text>       
		                        </v-card>
		                      </v-flex>
		                      <v-flex  sm2 md2 order-md2 order-sm2>
		                        <v-card tile flat>
		                            <v-card-text>{{ item.UserName }}</v-card-text>
		                        </v-card>
		                      </v-flex>  
		                      <v-flex  sm4 md3 order-md3 order-sm3>  
		                         <v-card tile flat>
		                            <v-card-text style="color: #757575;">{{ item.ApeNom }}</v-card-text>
		                        </v-card>
		                      </v-flex>
							  
							  <v-flex  sm4 md3 order-md4 order-sm4>
		                        <v-card tile flat>
		                            <v-card-text><v-icon>perm_identity</v-icon>{{ item.DescPerfil }}</v-card-text>
		                        </v-card>
		                      </v-flex>

		                      <v-flex xs12 sm5 md3 order-md5 order-sm5>
		                        <v-card tile flat> 
		                             <v-card-text class="px-0">
		                                <v-layout row>
		                                        <v-flex xs4 order-md1 order-xs1>
		                                          <v-card tile flat>
		                                                <v-btn lat icon small :class="'cyan darken-2 white--text'" @click = "access(index)" @click.native="dialogView = true">
															<v-icon color="secundary"  size="20">visibility</v-icon>
														</v-btn>
		                                          </v-card>
		                                        </v-flex>
		                                        <v-flex xs4  order-md2 order-xs2>
		                                          <v-card  tile flat>
		                                             <v-btn flat icon small :class="'yellow darken-2 white--text'"  :disabled="!flag.FlagActualizacion" @click = "edit(index),access(index)" @click.native = "cargarcombos()">
		                                              <v-icon>edit</v-icon>
		                                            </v-btn>
		                                          </v-card>
		                                        </v-flex>
		                                        <v-flex xs4 order-md3 order-xs3>
		                                          <v-card tile flat>
		                                              <v-btn flat icon small :class="'red darken-2 white--text'" :disabled="!flag.FlagEliminacion" @click = "deleteU(item.IdUsuario)">
		                                                <v-icon>delete</v-icon>
		                                              </v-btn>
		                                          </v-card>
		                                        </v-flex>
		                                      </v-layout>
		                             </v-card-text>
		                        </v-card>
		                      </v-flex>
                    		</v-layout>	
                    	<v-divider v-if="index + 1 < items.length" :key="`divider-${index}`"></v-divider>			
						</v-flex>

					<v-layout row justify-center>
						<v-dialog v-model="dialogView" v-if="dialogView" persistent max-width="400px" >
					
							    <v-toolbar color="cabecera" style="color: #1976D2;" tabs>
								      <v-icon color = "btnform">security</v-icon>	
								      <v-toolbar-title> Accesos - {{ Usuario }}</v-toolbar-title>
								      <v-tabs
								        color="cabecera"
									    style="color: #1976D2;"
									    slot="extension"
									    v-model="tabsMenu"
									    align-with-title
									    show-arrows
								      >
								      	<v-tabs-slider color="yellow darken-2"></v-tabs-slider>
									    <v-tab v-for="t in itemsAccess" :key="t.IdUsuario">
									       {{ t.MenuDescripcion }}
									    </v-tab>
								      </v-tabs>
							    </v-toolbar>

							    <v-tabs-items v-model="tabsMenu">
							      <v-tab-item v-for="t in itemsAccess" :key="t.IdUsuario">
							      	<v-card flat>
												<v-list-tile>
										            <v-list-tile-action>
										              <v-checkbox v-model="t.FlagLectura" disabled></v-checkbox>
										            </v-list-tile-action>
									            <v-list-tile-content>
									              	<v-list-tile-title>Lectura</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox v-model="t.FlagAdicion" disabled></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Adición</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox v-model="t.FlagActualizacion" disabled></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Actualización</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox v-model="t.FlagEliminacion" disabled></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Eliminación</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox v-model="t.FlagImpresion" disabled></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Impresión</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>			
										</v-card>
							      </v-tab-item>
							      	<v-card>
							          <v-spacer></v-spacer>
							          <v-btn color="red darken-2" flat @click.native="dialogView = false">Salir</v-btn>
							        </v-card>
							    </v-tabs-items>
			    	</v-dialog> 

			    	 <v-dialog v-model="dialogNew" persistent max-width="550px">
			    	 	<v-form ref="form" v-model="valid" lazy-validation>
					      <v-card>
					        <v-toolbar color="cabecera" style="color: #1976D2;">
							    <v-icon color = "btnform">person_add</v-icon>
							    <v-toolbar-title>Nuevo Usuario</v-toolbar-title>
							    <v-spacer></v-spacer>
							</v-toolbar>

					        <v-card-text>
					          <v-container grid-list-md>
					            <v-layout wrap>
					              <v-flex xs12 sm6 md6>
					                <v-select
					                  :items="itemsPerfil"
					                  v-model="selectPerfil"
        							  label="Perfil"
        							  item = "IdPerfil"
          							  item-text="DescPerfil"  
          							  :rules="[v => !!v || 'Perfil es requerido']"              
					                  autocomplete
					                  required
					                ></v-select>
					              </v-flex>
					              <v-flex xs12 sm6 md6>
					                  <v-select
					                  :items="itemsTrabajador"
					                  v-model="selectTrabajador"
					                  item = "IdTrabajador"
          							  item-text="ApeNom"
					                  label="Trabajador"
					                  :rules="[v => !!v || 'Trabajador es requerido']"    
					                  autocomplete
					                  required
					                ></v-select>
					              </v-flex>             
					              <v-flex xs12 sm6 md6>
					                	<v-text-field label="Usuario" v-model="Usuario" required></v-text-field>
					              </v-flex>
					              <v-flex xs12 sm6 md6>
					                  	<v-text-field label="Contraseña"  v-model="Contraseña" required></v-text-field>
					              </v-flex>
					              <v-flex xs12 sm6 md12>
					                	<v-text-field label="Descripción" v-model="Descripcion"></v-text-field>
					              </v-flex>
					              <v-flex xs12 sm6 md12>
					               		<v-checkbox :label="`Master`" v-model="FlagMaster"></v-checkbox>
					              </v-flex>
					            </v-layout>
					          </v-container>
					          <small>*llene los campos obligatorios</small>
					        </v-card-text>
					        <v-card-actions>
					          <v-spacer></v-spacer>
					          <v-btn color="red darken-2" flat @click.native="dialogNew = false">Salir</v-btn>
					          <v-btn color="green darken-2" flat :disabled="!valid"  @click = "submit()">Guardar</v-btn>
					        </v-card-actions>
					      </v-card>
					      </v-form>
					    </v-dialog>


					    <v-dialog v-model="dialogEdit" persistent max-width="550px">
				    	 <v-form ref="form" v-model="valid" lazy-validation>
					      <v-card>
					        <v-toolbar color="cabecera" style="color: #1976D2;">
							   <v-icon color = "btnform">person_add</v-icon>
							    <v-toolbar-title>Editar  -  {{ Usuario }}</v-toolbar-title>
							    <v-spacer></v-spacer>
							</v-toolbar>
					        <v-card-text>
					          <v-container grid-list-md>
					            <v-layout wrap>
					              <v-flex xs12 sm6 md6>
					                <v-select
					                  	:items="itemsPerfil"
					                  	v-model="IdPerfil"
        							 	label="Perfil"
        								item-value="IdPerfil"
          								item-text="DescPerfil"           
					                  	autocomplete
					                  	required
					                ></v-select>
					              </v-flex>
					              <v-flex xs12 sm6 md6>
					                  <v-select
					                  :items="itemsTrabajador"
					                  v-model="IdTrabajador"
					                  label="Trabajador"
					                  item-value= "IdTrabajador"
          							  item-text="ApeNom"
					                  autocomplete
					                  required
					                ></v-select>
					              </v-flex>             
					              <v-flex xs12 sm6 md6>
					                <v-text-field label="Usuario" v-model="Usuario" required></v-text-field>
					              </v-flex>
					              <v-flex xs12 sm6 md6>
					                  <v-text-field label="Contraseña"  v-model="Contraseña" required></v-text-field>
					              </v-flex>
					               <v-flex xs12 sm6 md12>
					                <v-text-field label="Descripción" v-model="Descripcion"></v-text-field>
					              </v-flex>
					              <v-flex xs12 sm6 md12>	
					               <v-checkbox :label="`Master`" v-model="FlagMaster"></v-checkbox>
					              </v-flex>
					            </v-layout>
					          </v-container>
					          <small>*llene los campos obligatorios</small>
					        </v-card-text>
					      	
					      	<v-card>
					        <div>
							    <v-toolbar style="color: #f9826e;" tabs>
							      <v-icon style="color: #f9826e;">build</v-icon>
							      <v-toolbar-title>Accesos</v-toolbar-title>
							      <v-tabs
								    color="cabecera"
									style="color: #1976D2;"
									slot="extension"
									v-model="tabsMenu"
									align-with-title
									show-arrows
								   >
							        	<v-tabs-slider color="yellow darken-2"></v-tabs-slider>
								        <v-tab v-for="e in itemsAccess" :key="e.IdMenu">
								          {{ e.MenuDescripcion }}
								        </v-tab>
							      </v-tabs>

							    </v-toolbar>

							    <v-tabs-items v-model="tabsMenu">
							      <v-tab-item v-for="e in itemsAccess" :key="e.IdMenu">
							      	<v-card flat>
											<v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox  v-model="e.FlagLectura"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Lectura</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox  v-model="e.FlagAdicion"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Adición</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox v-model="e.FlagActualizacion"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Actualización</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox  v-model="e.FlagEliminacion"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Eliminación</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
								          <v-list-tile>
									            <v-list-tile-action>
									              <v-checkbox  v-model="e.FlagImpresion"></v-checkbox>
									            </v-list-tile-action>
									            <v-list-tile-content>
									              <v-list-tile-title>Impresión</v-list-tile-title>
									            </v-list-tile-content>
								          </v-list-tile>
										</v-card>
							      </v-tab-item>
							    </v-tabs-items>
							  </div>
					      </v-card>	

					      <v-card-actions>
					          <v-spacer></v-spacer>
					          <v-btn color="red darken-2" flat @click.native="dialogEdit = false">Salir</v-btn>
					          <v-btn color="green darken-2" flat :disabled="!valid"  @click = "update()">Guardar</v-btn>
					      </v-card-actions>

					    </v-card>
					      </v-form>
					    </v-dialog>
				</v-layout> 	    
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	import User from '@/models/User'
	import { mapGetters } from 'vuex'
	var session = require('@/store/getSession.js');
	export default {
		name: 'Usuario',
		create(){
			
		},

		mounted(){

			this.getPostsAccess();
			this.getPostsUsuario();

		},

		computed: {

		...mapGetters({ currentUser: 'currentUser' })	,

      	usuarioResults() {
         /// Filter results
         return this.items .filter((item) => {
         return item.UserName.toLowerCase()
           .indexOf(this.search.toLowerCase()) > -1;
         });
      }
    },

		data () {
			return {
			valid: false,
			dialogNew: false,
			dialogView: false,
			dialogEdit: false,
			tabsMenu: null,
			search: '',	

			IdPerfil: '',
			IdTrabajador: '',
			IdUsuario: '',
			Usuario: '',
			Contraseña:'',
			Descripcion:'',
			FlagMaster: false,

			items: [],
		    itemsAccess: [],
		    selectPerfil: null,
		    itemsPerfil: [],
		    selectTrabajador: null,
		    itemsTrabajador: [],
		    itemsButtonFlag:[],
		  
    }
		},

		 

		methods:{

       getPostsAccess(){
      		var Menu = "1006";

	       	this.$http.post('/acceso/getmenuaccess', 
	       	{ 	"UserLogin":this.currentUser.IdUsuario,
	          	"IdMenu": Menu
	        })
	        .then((resouesta)=>{
	          	this.itemsButtonFlag=resouesta.data;
	        });
      	},
	
		getPostsUsuario(){
	       	this.$http.get('/usuario/getalluser?IdAgencia='+ this.currentUser.IdAgencia).then((resouesta)=>{
	          	this.items=resouesta.data;
	        });
     	},

      	access: function(index){
      		this.Usuario = this.items[index].UserName;
	        this.$http.get('/acceso/getuseraccess?IdUsuario='+ this.currentUser.IdUsuario ).then((resouesta)=>{
	         	this.itemsAccess=resouesta.data;
	         });
      	},

        cargarcombos(){
	    	this.$http.get('/perfil/getallperfil')
			   .then((resouesta)=>{
			    	this.itemsPerfil=resouesta.data;
			    });

			this.$http.get('/trabajador/getlistcboworker?IdAgencia=' + this.currentUser.IdAgencia)
		        .then((resouesta)=>{
		          	this.itemsTrabajador=resouesta.data;
		      	});
	    },


      submit: function(){
       // if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
      	this.ErrorMessage = 'No se puede crear el usuario';
      	this.SuccessMessage = 'Se ha creado correctamente el usuario';

          	this.$http.post('usuario/create',  
          	{ 	"UserLogin":this.currentUser.IdUsuario,
          		"IdAgencia":this.currentUser.IdAgencia,
          		"IdPerfil": this.selectPerfil.IdPerfil,  
          		"IdTrabajador": this.selectTrabajador.IdTrabajador, 
          		"UserName": this.Usuario,
		        "UserPass":  this.Contraseña,
		        "Descripcion": this.Descripcion,
		        "Master": this.FlagMaster	
          	}).then((request)=>{
            	this.AxiosSuccessful(request);
          		this.dialogNew = !this.dialogNew;
        		//console.log(response);
			}).catch(() => this.AxiosFailed());	
       // }
      },

      edit: function(index){
 
        this.dialogEdit = !this.dialogEdit;
        this.IdUsuario = this.items[index].IdUsuario;
        this.IdPerfil = this.items[index].IdPerfil;
        this.IdTrabajador = this.items[index].IdTrabajador;
        this.Usuario = this.items[index].UserName;
        this.Contraseña = this.items[index].UserPass;
        this.Descripcion = this.items[index].Descripcion;
        this.FlagMaster = this.items[index].FlagMaster;
      
      },

      update: function(){

      	this.ErrorMessage = 'No se puede actualizar el usuario';
      	this.SuccessMessage = 'Se actualizado correctamente el usuario';
      	//alert(JSON.stringify(this.itemsAccess));
 		this.$http.post('usuario/update', 
          	{ 	"UserLogin":this.currentUser.IdUsuario,
          		"IdAgencia":this.currentUser.IdAgencia,
          		"IdUsuario": this.IdUsuario, 
          		"IdPerfil": this.IdPerfil,  
          		"IdTrabajador": this.IdTrabajador, 
          		"UserName": this.Usuario,
		        "UserPass":  this.Contraseña,
		        "Descripcion": this.Descripcion,
		        "FlagMaster": this.FlagMaster,
		        "Array": JSON.stringify(this.itemsAccess)
          	})
 				.then((request)=>{
            		this.AxiosSuccessful(request);
            		this.dialogEdit = !this.dialogEdit;
               // console.log(resouesta.data);
        		})
				.catch(() => this.AxiosFailed());	    
      },

     

      deleteU: function(IdUsuario){
      	this.ErrorMessage = 'No se puede eliminar el usuario';
      	this.SuccessMessage = 'Se ha eliminado correctamente el usuario';
       	this.$http.post('/usuario/delete?idusuario='+IdUsuario)
       		.then((request)=>{
            		this.AxiosSuccessful(request);
       		})
      		.catch(() => this.AxiosFailed());
      },

       AxiosSuccessful (req) {
	      if (!req.data) {
	        this.AxiosFailed();
	        return
	      }	
	      else{
	      	this.AxiosSuccess();
	      	this.getPostsUsuario();
	        return
	      }
      },

     	AxiosFailed () {
      	this.$iziToast.error({
	        iconText: 'link_off',
	        title: "Error",
	        message: this.ErrorMessage,
	        timeout: 3000,
	        progressBar: true,
	        layout: 1
      	});
      },

   		
    	AxiosSuccess () {
	    this.$iziToast.success({
	        iconText: 'done',
	        title: "OK",
	        message: this.SuccessMessage,
	        timeout: 3000,
	        progressBar: true,
	        layout: 1
	     	});
    	}
	 }
}
</script>
