<template>
<v-parallax
      dark
    >
<v-content> 
  <div class="container_head" id="login__samiapp">
          <div class="logo__sami">
            <img src="../../public/sami_logo.png" alt="sami app" style="width: 12em;">
          </div>
          <div class="cabecera-login">
                <div class="user user-registrar">
                    <h4><a href="/ForRegistro"><span class="primero" ><v-icon color="orange darken-2">recent_actors</v-icon></span>Registro</a></h4>
                </div>
                <div id="loginaparecer" class="user user-login">
                    <h4><a href="#" id="loginform"><span class="segundo" v-popover:login.bottom.left><v-icon color="orange darken-2">perm_identity</v-icon></span>Login</a></h4>
                </div>
                 <popover color="primary" name="login" class="wrapper fadeInDown" id="formContent" style="width: 180px;left: inherit;top: 66px;max-width: 380px;min-width: 300px;right: 3%;">
         <div id="login__conten" style="background-color:#fff;border-radius: 5px;">
                <div class="fadeIn first">
                  <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
                </div>
                <form @submit.prevent="login">
                  <input v-model="email" type="text" id="login" class="fadeIn second" name="login" placeholder="ingrese usuario" required autofocus>
                  <input v-model="password" type="password" id="password" class="fadeIn third" name="login" placeholder="password" required>
                  <input type="submit" class="fadeIn fourth" value="Iniciar">
                  <!--<v-btn color="success" dark large>Iniciar</v-btn>
                  <v-btn color="success" @click="submit" class="fadeIn fourth" dark large>Iniciar</v-btn>-->
                </form>
                <div id="formFooter">
                  <a class="underlineHover" href="#">Forgot Password?</a>
                </div>
              </div>
          </popover>
            </div>
        
 </div>
 <div id="container_logion-body">
   <div class="info_opcion">
     <p style="max-width: 18em;    margin: auto;">Registrate para vender con nosotros, o visita nuestra mayorista en viajes.</p>
     <div style="width:100%;position: relative;">
      <v-btn dark large style="max-width:16em; position:absolute;right:0px;background-color:#f08080;">
   Visitar Mayorista
  <v-icon right dark>near_me</v-icon>
   </v-btn>
   </div>
   </div>
  
 </div>
</v-content>
</v-parallax>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Login',
  computed:{
      ...mapGetters({
        currentUser: 'currentUser'
      })      
  },
  data () {
    return {
      email: '',
      password: '',
      error: false,
       fav: true,
      menu: false,
      message: false,
      hints: true
    }
  },
  created () {
    this.checkCurrentLogin()
  },
  updated () {
    this.checkCurrentLogin()
  },
  methods: {
    checkCurrentLogin () {
        if (this.currentUser) {
          this.$router.replace(this.$route.query.redirect || '/home')
        }
    },
    login () {
      let user={ Username: this.email, Password: this.password };
      var datos=JSON.stringify(user);
      console.log(datos);
      this.$http.post('/login/authenticate', datos)
      .then(request => this.loginSuccessful(request))
      .catch((error) => this.loginFailed(error))
      },
    loginSuccessful (req) {
      if (!req.data) {
        this.loginFailed()
        return
      }
      this.error = false
      this.setCookie('tokenSessionServer',req.data,1)
      this.$store.dispatch('login') // <=
      this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + req.data;
      this.$router.replace(this.$route.query.redirect || '/home')
      
    },
    loginFailed (error) {
      console.log(error);
      this.error = 'Login failed!'
      this.$store.dispatch('logout') // <=
      delete localStorage.token
    },
    setCookie(cname,cvalue,exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = this.utf8_to_b64(cname) + "=" + cvalue + ";" + expires + ";path=/";
    },
    utf8_to_b64( str ) {
      return window.btoa(unescape(encodeURIComponent( str )));
    },
    b64_to_utf8( str ) {
      return decodeURIComponent(escape(window.atob( str )));
    }
    
  }
}
</script>

<style lang="css">

.parallax {
    background-image: url('../../public/found.png');
    background-size:cover;

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax__image-container {
    background-color: #f0fff2a1;
}
.container_head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 75px;
    position: absolute;
    left: 0;
    width: 100%;
        z-index: 9999;
}

div#formContent:after {
    content: '';
    height: 100%;
    top: -.12em;
    left: -.3em !important;
    background-color: #ffd865;
    border-radius: 5px;
    display: block;
    position: absolute;
    width: 100%;
    z-index: -999999999;
}
.user-login {
    float: left;
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: solid #ffd865 .105em;
    position: relative;
    overflow: hidden;
    display: table;
}
.user-registrar {
    float: left;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: solid #fb9696 .105em;
    position: relative;
    overflow: hidden;
    display: table;
}

.cabecera-login {
    height: 40px;
    width: 180px;
    border-radius: 5px;
    display: table;
    right: 3%;
    top: 15px;
    position: absolute;
}
div#container_logion-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    /* margin-top: 70px; */
    width: 100%;
    height: 100%;
}
.info_opcion {
    font-family: "Poppins", sans-serif;
    color: #9a9b9e;
    font-size: 2em;
    font-weight: 100;
    max-width: 800px;
    display: flex;
    flex-flow: column;
}
.cabecera-login h4 {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
}
.cabecera-login a {
    color: #adcee8;
    text-decoration: none;
}
.cabecera-login h4 > a .primero {
    background: #fb9696;
    display: block;
    height: 100%;
    width: 100%;
    left: 94%;
    position: absolute;
    top: 0px;
    -webkit-animation: all .3s ease;
    -moz-animation: all .3s ease;
    -ms-animation: all .3s ease;
    -o-animation: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
a#loginform {
    width: 100%;
    height: 100%;
    padding: 8px;
}
h4 > a .segundo {
    background: #ffd865;
    display: block;
    height: 100%;
    width: 100%;
    left: -94%;
    position: absolute;
    top: 0;
    -webkit-animation: all .3s ease;
    -moz-animation: all .3s ease;
    -ms-animation: all .3s ease;
    -o-animation: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
h4 > a span .icon{
    display: block;
    line-height: 40px;
    font-size: 25px
}

h4 > a:hover > span{
    left:0;      
}

/************************************/
div[data-popover="foo"] {
  background: #444;
  color: #f9f9f9;
  width: 400px !important;
  padding: 0 !important;

  font-size: 12px;
  line-height: 1.5;
  margin: 5px;
}

.vue-popover.dropdown-position-bottom:before, .vue-popover.dropdown-position-top:before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffd865 !important;
    left: calc(88% - 15px) !important;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */
a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  /*width: 100%;
  min-height: 100%;*/
  padding: 20px;
}

#formContent {
  font-family: "Poppins", sans-serif;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: absolute;
  padding: 0px;
  /*-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
 box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);*/
  text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: .12em solid #ffd865;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 6px 6px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
     width: 85%;
    background-color: #65ca9f;
    border: none;
    color: white;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 2px 3px 10px 0 rgba(126, 127, 128, 0.4);
  box-shadow: 2px 3px 10px 0 rgba(126, 127, 128, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #3eb38a;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#login__samiapp input[type=text],input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#login__samiapp input[type=text]:focus ,input[type=password]:focus{
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

#login__samiapp input[type=text]:placeholder, input[type=password]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}
</style>