<template></template>

<script>
export default {
  name: 'Logout',
  created () {
    //delete localStorage.token
    this.deleteCookie('tokenSessionServer')
    this.$store.dispatch('logout')
    this.$router.push('/')
  },
  methods:{
     deleteCookie(cname) { 
          var name = this.utf8_to_b64( cname );
          document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          //return "";
    },
    utf8_to_b64( str ) {
      return window.btoa(unescape(encodeURIComponent( str )));
    }
  }

}
</script>