<template>
<div class="generalContainer">
    <v-navigation-drawer
      persistent
       fixed
      :mini-variant="miniVariant"
      :clipped="$vuetify.breakpoint.mdAndUp"
      v-model="drawer"
      enable-resize-watcher
      app
    >
      <div class="HederMenu">
      <router-link to="/settings">
        <v-avatar :size="50" :tile="true">
          <img src="../../public/logoagencia.jpg" height="10" width="10"/>
        </v-avatar>
        </router-link>
        <div class="desc-agencia" style="padding: 10px;color: #f9826e;">
          <h3 v-if="currentUser">{{currentUser.DescAgencia}}</h3>
        </div>
        
      </div>
      <v-list>
       <template v-for="(item, i) in items">
          <v-layout
            row
            v-if="item.heading"
            align-center
            :key="i"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <v-btn small flat>edit</v-btn>
            </v-flex>
          </v-layout>
          <v-divider
            dark
            v-else-if="item.divider"
            :key="i"
            color="blue"
          ></v-divider>
          <v-list-tile
            v-else
            :key="item.MenuDescripcion"  :to="item.route"
          >
            <v-list-tile-action color="primary">
              <v-icon v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content color="primary">
              <v-list-tile-title>{{ item.MenuDescripcion }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>

      </v-list>

    </v-navigation-drawer>
    <v-toolbar
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon color="orange darken-2">sort</v-icon>
      </v-btn>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon  color="blue darken-2">notifications_active</v-icon>
      </v-btn>

      <div style="height: 100%;display:  flex;align-items:  center;">
        <v-avatar style="background: #ffd866;padding:21px;" v-popover:userinfo.bottom.left :size="38">
          <img src="../../public/user.png" height="10" width="10"/>
          
        </v-avatar>
          <popover name="userinfo" class="wrapper fadeInDown" id="formContent" style="width: 180px;left: inherit;top: 102%;max-width: 380px;min-width: 300px;right: 0;background-color: #ffd865;">
                <h2 v-if="currentUser" v-text="currentUser.DescUsuario"></h2>
                <router-link tag="div" id="formFooter" to="/logout">
                    <a class="underlineHover"><v-icon color="orange darken-2">lock</v-icon> Cerrar Session</a>
                </router-link>
          </popover>  
      </div>

    </v-toolbar>
    <!--<v-content class="ml-3 mt-3 mr-3">-->
    <v-content id="master__container" fluid>
    
      <router-view/>
        <!-- <HelloWorld/>-->
    </v-content>
    <v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      fixed
      app
    >
      <v-list>
        <v-list-tile @click="right = !right">
          <v-list-tile-action>
            <v-icon>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2017</span>
    </v-footer>
      <v-speed-dial
           v-model="btnfloatfab"
          :top="btnfloattop"
          :bottom="btnfloatbottom"
          :right="btnfloatright"
          :left="btnfloatleft"
          :direction="btnfloatdirection"
          :open-on-hover="btnfloathover"
          :transition="btnfloattransition"
        >
        <v-btn
          slot="activator"
          v-model="btnfloatfab"
          color="primary"
          dark
          fab
        >
         
          <!--<v-icon>close</v-icon>-->
          <v-avatar :size="40">
            <img
              src="../../public/icons/icons8-briefcase-settings.png"
              alt="acciones"
            >
        </v-avatar>
         </v-btn>
         <v-btn
          fab
          dark
          small
          color="green"
          @click="cotizar"
        >
        <v-icon>note_add</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          small
          color="indigo"
        >
        <v-icon>add</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          small
          color="red"
        >
          <v-icon>delete</v-icon>
        </v-btn>
      </v-speed-dial>
    <Cotizar/>

</div>
</template>

<script>
import Cotizar from '@/components/Master/Cotizador.vue'
import { mapGetters } from 'vuex'
var session = require('@/store/getSession.js');
export default {
  name: 'Master',
  components: {
    Cotizar,
    
    //appUserDetail: Cotizar
  },
  computed:{
      ...mapGetters({
        currentCoti: 'currentCoti',
        currentUser: 'currentUser'
      })      
  },
  created(){
   // this.cotizar();
    this.getDatosApi();
  },
  mounted () {
   //this.getDatosApi();
  },
   updated () {
    //this.checkCurrentLogin();
    this.checkSession();
  },
  data () {
    return {
      dialog: true,
      // notifications: false,
      // sound: true,
      // widgets: false,
      clipped: false,
      drawer: true,
      fixed: false,
      items: null,
      userData:null,
      cotidata:{
            cotititle:'no ola mundo',
            cotiitems:[],
            cotisatus:true
      },
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'SAMI',
      
      btnfloatdirection: 'top',
      btnfloatfab: false,
      btnfloatfling: false,
      btnfloathover: true,
      btnfloattabs: null,
      btnfloattop: false,
      btnfloatright: true,
      btnfloatbottom: true,
      btnfloatleft: false,
      btnfloattransition: 'slide-y-reverse-transition'
      
    }
  },
  methods:{
      checkSession(){
        if (!session.getCookie('tokenSessionServer')) {
          this.$store.dispatch('logout');
          this.checkCurrentLogin();
        }
      },
     checkCurrentLogin () {
      if (!this.currentUser && this.$route.path !== '/') {
          this.$router.push('/?redirect=' + this.$route.path)
        }
      },
      getDatosApi(){
        if (this.currentUser) {
          this.$http.get('/acceso/getlogeoaccess?idUsuario=' + this.currentUser.IdUsuario)
          .then(request => this.AxiosSuccessful(request))
          // .catch(function (error) {
          //   if (error.response) {
          //     // The request was made and the server responded with a status code
          //     // that falls out of the range of 2xx
          //     console.log(error.response.data);
          //     console.log(error.response.status);
          //     console.log(error.response.headers);
          //   } else if (error.request) {
          //     // The request was made but no response was received
          //     // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
          //     // http.ClientRequest in node.js
          //     console.log(error.request);
          //   } else {
          //     // Something happened in setting up the request that triggered an Error
          //     console.log('Error', error.message);
          //   }
          //   console.log(error.config);
          // });
        }

      },
       AxiosSuccessful (req) {
        console.log(req.headers);
      if (!req.data) {
        this.AxiosFailed()
        return
      }
      const items=req.data;
       var lookup = {};
            var result = [];
            for (var item, i = 0; item = items[i++];) {
              var tipoMenu = item.DescTipoMenu;

              if (!(tipoMenu in lookup)) {
                lookup[tipoMenu] = 1;
                result.push(tipoMenu);
              }
            }
          let greaterTen = [];
          for (let j = 0; j<result.length; j++) {
            var section={heading:result[j]}
            greaterTen.push(section)
            for (let i = 0; i<items.length; i++) {
            var currentNumber = items[i].DescTipoMenu;
            if (currentNumber == result[j]) {
              greaterTen.push(items[i])
            }
          }
        }
        this.items=greaterTen;
        //this.$store.dispatch('obtenerMenu',greaterTen);
    },
    AxiosFailed (error) {
      console.log(JSON.stringify(error));
      this.$iziToast.error({
        iconText: 'link_off',
        title: "Erorr",
        message: "Se denegaron los permisos para acceder a los servicios",
        timeout: 6000,
        progressBar: true,
        layout: 1
      });
    },
     getMenuRuter(){
        //var data =this.currentMenu;
     },
    cotizar(){
          this.currentCoti.cotisatus=true;
          this.$store.dispatch('addCoti',this.currentCoti);
      } 
  }
}
</script>
<style>
#master__container>.content--wrap {
    padding: .5em;
}
.generalContainer {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.speed-dial {
  position: fixed !important;
  z-index: 99999;
}

.btn--floating {
  position: relative;
}
.HederMenu{
    display: flex;
    padding: 10px;
    align-items: center;
    height: 80px;
    position: relative;
    width: 100%;
    background-color: #ffd865 !important;
    border-color: #ffd865 !important;
    box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(202, 156, 2, 0.14), 0px 1px 5px 0px rgba(243, 203, 34, 0.12);
}
.HederMenu:before {
    bottom: -51px;
    right: 0px;
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 51px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 30%;
    -moz-box-shadow: 30px 10px 0 #d9534f;
    -webkit-box-shadow: 14px -23px 0 -13px #ffd865;
    box-shadow: 14px -23px 0 -13px #ffd865;
}
.navigation-drawer__border{
  background-color: rgb(255, 216, 101) !important ;
}
.navigation-drawer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.navigation-drawer::-webkit-scrollbar-track {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #ff6a3b52;
}
.navigation-drawer::-webkit-scrollbar-thumb {
    background: #f9826e;
    border-radius: 10px;
}
.avatar {
    cursor: pointer;
}
.speed-dial .avatar img{
  border-radius:0px;
}
</style>