<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>
<!-- <template>
  <div id="app">
    <template v-if="currentUser">
      <Navbar></Navbar>
    </template>
    <div class="container-fluid">
      <router-view></router-view>
      <template v-if="currentUser">
        <Foot></Foot>
      </template>
    </div>
  </div>
</template> -->

<script>
//import HelloWorld from './components/HelloWorld.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapGetters({ currentUser: 'currentUser' })
  },
  created () {
    this.checkCurrentLogin()
  },
  updated () {
   this.checkCurrentLogin()
   // console.log('update mastes');
    //console.log(this.currentUser);
  },
  methods: {
    checkCurrentLogin () {
      if (!this.currentUser && this.$route.path !== '/') {
        this.$router.push('/?redirect=' + this.$route.path)
      }
    }
  },
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        { icon: 'bubble_chart', title: 'HelloWorld',route:'/HelloWorld' },
        { icon: 'lightbulb_outline', title: 'Lista Agencias',route:'listaagencias' },
        { icon: 'touch_app', title: 'Cotizador',route:'cotizador' },
        { divider: true },
        { heading: 'Labels' },
        { icon: 'archive', title: 'archive' },
        { icon: 'delete', title: 'delete' }
        ],
      itemsdraw: [
        { icon: 'lightbulb_outline', text: 'Notes' },
        { icon: 'touch_app', text: 'Reminders' },
        { divider: true },
        { heading: 'Labels' },
        { icon: 'add', text: 'Create new label' },
        { divider: true },
        { icon: 'archive', text: 'Archive' },
        { icon: 'delete', text: 'Trash' },
        { divider: true },
        { icon: 'settings', text: 'Settings' },
        { icon: 'chat_bubble', text: 'Trash' },
        { icon: 'help', text: 'Help' },
        { icon: 'phonelink', text: 'App downloads' },
        { icon: 'keyboard', text: 'Keyboard shortcuts' }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'COTIAPP',
      
      btnfloatdirection: 'top',
      btnfloatfab: false,
      btnfloatfling: false,
      btnfloathover: true,
      btnfloattabs: null,
      btnfloattop: false,
      btnfloatright: true,
      btnfloatbottom: true,
      btnfloatleft: false,
      btnfloattransition: 'slide-y-reverse-transition'
      
    }
  }
}
</script>
<style>
  .content--wrap .speed-dial {
  position: absolute;
  z-index: 99999;
}

.content--wrap .btn--floating {
  position: relative;
}
</style>